
html {

  box-sizing: border-box;
  --bgColorMenu : #142750;
  --duration: .5s;
}

html *,
html *::before,
html *::after {

  box-sizing: inherit;

}

body{
  
  margin: 0;
  display: flex;
  height: 20%;
  overflow: hidden;
  position: sticky;
  background-color: #769fcd;
  -webkit-tap-highlight-color: transparent;
  transition: background-color var(--duration);

}


/*Nav*/




.menu{

  margin: 0;
  display: flex;
  flex-direction: column;
  /* Funciona bien con 100% width horizontal */
  width: 5.05em;
  height: 25em;
  font-size: 1.5em;
  padding: 0 2.85em;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--bgColorMenu);
  
}

.menu__item{
  
  all: unset;
  flex-grow: 1;
  z-index: 100;
  display: flex;
  cursor: pointer;
  position: sticky;
  border-radius: 50%;
  align-items: center;
  will-change: transform;
  justify-content: center;
  padding: 0.55em 0 0.85em;
  transition: transform var(--timeOut , var(--duration));
  
}

.menu__item::before{
  
  content: "";
  z-index: -1;
  width: 4.2em;
  height: 4.2em;
  border-radius: 50%;
  position: absolute;
  transform: scale(0);
  transition: background-color var(--duration), transform var(--duration);
  
}


.menu__item.active {

  transform: translate3d(.6em, 0 , 0);

}

.menu__item.active::before{
  
  transform: scale(1);
  background-color: var(--bgColorItem);

}

.icon{
  
  width: 2.6em;
  height: 2.6em;
  stroke: white;
  fill: transparent;
  stroke-width: 1pt;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 400;
  
}

.menu__item.active .icon {

  animation: strok 1.5s reverse;
  
}

@keyframes strok {

  100% {

      stroke-dashoffset: 400;

  }

}

.menu__border{

  left: 0;
  bottom: 99%;
  width: 10.9em;
  height: 2.4em;
  position: absolute;
  clip-path: url(#menu);
  will-change: transform;
  background-color: var(--bgColorMenu);
  transition: transform var(--timeOut , var(--duration));
  
}

.svg-container {

  width: 0;
  height: 0;
  
}


@media screen and (max-width: 50em) {
  .menu{
      font-size: .8em;
  }
}

/*Cards*/

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*para efecto 3d*/
  position: relative;
  perspective: 1000px;
  }

  .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 210px;
  width: 150px;
  margin: 10px;
  background-color: #08291A;
  border-radius: 10px;
  box-shadow: -1rem 0 2rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  border-radius: 15px;
  z-index: 2; /* asegura que la tarjeta superior esté en la parte superior */
  }
  .cards2{
    background-color: bisque;
    z-index: 1;
    position: relative;
  }

  .card:nth-child(2) {
    position: absolute;
    top: 30px;
    left: 10px;
    z-index: 1; /* asegura que esta tarjeta esté por encima de la anterior */
  }



  .titulo {
  color: white;
  font-weight: 300;
  margin: 20px;
  }



  .circulo {
  margin: 2px;


  }
  

  .stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
  }

  svg {
  fill: #209836;
  stroke-width: 2px;
  }

  #limpieza{
    fill: palevioletred;
  }

  .card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 1s ease-out;
  }

  span{
    font-size: medium;
  }
