
body {
  min-height: 100vh;
  background-color: #ecf2ff;
}

a{
  text-decoration: none;
  cursor: pointer;

}

a:hover{
  color: inherit;
}



span{
  cursor: pointer;
}


/*boton cambio de rack*/

input[type=checkbox] {
  height: 0;
  width: 0;
display: none;
}


.texto-check{
  font-size: 13px;
  text-align:left;
  margin-left: 10px;
  cursor:default;
  margin-top: 30px;
}


.form-check-label {
  cursor: pointer;
  text-indent: -9999px;
  left: 153px;
  bottom: 35px;
  width: 40px;
  height: 15px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
  align-items: center;
  text-align: center;
}
.form-check-label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 5px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
.form-check-input:checked + .form-check-label {
  background: #8340ff;
}

.form-check-input:checked + .form-check-label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

/******************************/
/*tamaño y ocultar la side nav*/
/******************************/
.side-navbar {
  min-width: 250px;
  height: 120%;
  position: absolute;
  margin-left: -13%;
  background-color: #30349f;
  transition: 0.5s;
  font-size: large;
  z-index: 9999;

}


#navbarDropdown{
  color: #fff;

}

.subitem{
  color: #ecf2ff;
  font-size: 18px;
  background-color: #bface21f;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
  
}

/*informacion sobre la empresa */

.informacion{
  justify-content: center;
  text-align: center;
}
/***********************************/
/*color hover de los links dentro del nav*/
/***********************************/
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
  
}
/*********************************/
/*tiempo y posiconamiento visible*/
/*********************************/
.my-container {
  transition: 0.5s;
}

.active-nav {
  margin-left: 0;
}

.active-cont {
  margin-left: 250px;
}
/*******************************/
/*configuacion de botones color*/
/* tamaño y posicionamiento ****/
/*******************************/
.menu-btn {
  color: #ecf2ff;
  position: absolute;
  top: 1%;
  left: 101%;
  font-size: 30px;
}

#menu-btn-desplegar{

}
#menu-btn-fecha{
  left: 125%;
}

#menu-btn-filtrar{
  left: 150%;
}

#mostrar-botones{
  left: 175%;

}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #736bc6;

}

.my-container input {
  border-radius: 2rem;
  padding: 2px 20px;
}

.top-navbar {
  height: 0;
  visibility: hidden;
}

@media (max-width: 668px) { /* Agregamos un media query para dispositivos móviles */
  .side-navbar {
    margin-left: -53%;

  }

  .active-nav {
    margin-left: -250px; /* Cambiamos el valor de margin-left a -250px para que la barra salga de la pantalla */
  }

  .active-cont {
    margin-left: 0; /* Cambiamos el valor de margin-left a 0 para que el contenido ocupe toda la pantalla */
    width: 50px;
    left: 90%;
  }

  .menu-btn {
    left: 110%; /* Cambiamos el valor de left a 90% para que los botones estén más cerca del borde */
  }

  #menu-btn-fecha {
    left: 80%; /* Cambiamos el valor de left a 80% para que el botón de fecha esté más cerca del borde */
  }

  #menu-btn-filtrar {
    left: 130%; /* Cambiamos el valor de left a 70% para que el botón de filtrar esté más cerca del borde */
  }
  #mostrar-botones{
    left: 140%;
  }
}/*

/* Para pantallas de tamaño pequeño, menores a 576px */
@media (max-width: 575.98px) {
  .side-navbar {
    margin-left: -90%;
    width: 90%;
  }
  .active-nav {
    margin-left: 0;
  }
  .active-cont {
    margin-left: 0;
    width: 100%;
    left: 0;
  }
  .menu-btn {
    left: 100%;
  }
  #menu-btn-fecha {
    left: 85%;
  }
  #menu-btn-filtrar {
    left: 70%;
  }
  #mostrar-botones{
    left: 55%;
  }
}

/* Para pantallas de tamaño mediano, entre 576px y 991.98px */
@media (min-width: 576px) and (max-width: 991.98px) {
  .side-navbar {
    margin-left: -70%;
    width: 70%;
  }
  .active-nav {
    margin-left: 0;
  }
  .active-cont {
    margin-left: 0;
    width: 100%;
    left: 0;
  }
  .menu-btn {
    left: 100%;
  }
  #menu-btn-fecha {
    left: 115%;
  }
  #menu-btn-filtrar {
    left: 125%;
  }
  #mostrar-botones{
    left: 135%;
  }
}

/* Para pantallas de tamaño grande, entre 992px y 1980px */
@media (min-width: 992px) and (max-width: 1825px) {
  .side-navbar {
    margin-left: -40%;
    width: 40%;
  }
  .active-nav {
    margin-left: 0;
  }
  .active-cont {
    margin-left: 40%;
    width: 60%;
    left: 0;
  }
  .menu-btn {
    left: 101%;
  }
  #menu-btn-fecha {
    left: 113%;
  }
  #menu-btn-filtrar {
    left: 125%;
  }
  #mostrar-botones{
  left: 137%;
}
}




/* Para pantallas de tamaño extra grande */
@media (min-width: 2082px)  {
  .side-navbar {
    margin-left: -23%;
    width: 23%;
  }
  .active-nav {
    margin-left: 0;
  }
  .active-cont {
    margin-left: 40%;
    width: 60%;
    left: 0;
  }
  .menu-btn {
    left: 102%;
  }
  #menu-btn-fecha {
    left: 115%;
  }
  #menu-btn-filtrar {
    left: 128%;
  }
  #mostrar-botones{
  left: 141%;
}
}