
body {
  min-height: 100vh;
  background-color: #ecf2ff;
}
/******************************/
/*tamaño y ocultar la side nav*/
/******************************/
.side-navbar {
  width: 250px;
  height: 100%;
  position: absolute;
  margin-left: -13%;
  background-color: #30349f;
  transition: 0.5s;
  font-size: large;
  z-index: 9999;
}

#navbarDropdown{
  color: #fff;
}

/***********************************/
/*color hover de los links dentro del nav*/
/***********************************/

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}
/*********************************/
/*tiempo y posiconamiento visible*/
/*********************************/
.my-container {
  transition: 0.5s;
}

.active-nav {
  margin-left: 0;
}

.active-cont {
  margin-left: 250px;
}
/*******************************/
/*configuacion de botones color*/
/* tamaño y posicionamiento ****/
/*******************************/
.menu-btn {
  background-color: #3f51b5;
  color: #ecf2ff;
  position: absolute;
  top: 1%;
  left: 101%;
  font-size: 30px;
}

#menu-btn-desplegar{

}
#menu-btn-fecha{
  left: 125%;
}

#menu-btn-filtrar{
  left: 150%;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #736bc6;

}

.my-container input {
  border-radius: 2rem;
  padding: 2px 20px;
}

.top-navbar {
  height: 0;
  visibility: hidden;
}

@media (max-width: 768px) { /* Agregamos un media query para dispositivos móviles */
  .side-navbar {
    width: 100%; /* Cambiamos el valor de width a 100% para que ocupe todo el ancho */
    height: auto; /* Cambiamos el valor de height a auto para que se adapte al contenido */
    position: static; /* Usamos position: static en lugar de fixed */
    margin: 0; /* Agregamos margin: 0 para eliminar cualquier margen */
  }

  .active-nav {
    margin-left: -250px; /* Cambiamos el valor de margin-left a -250px para que la barra salga de la pantalla */
  }

  .active-cont {
    margin-left: 0; /* Cambiamos el valor de margin-left a 0 para que el contenido ocupe toda la pantalla */
    width: 50px;
    left: 90%;
  }

  .menu-btn {
    left: 110%; /* Cambiamos el valor de left a 90% para que los botones estén más cerca del borde */
  }

  #menu-btn-fecha {
    left: 80%; /* Cambiamos el valor de left a 80% para que el botón de fecha esté más cerca del borde */
  }

  #menu-btn-filtrar {
    left: 130%; /* Cambiamos el valor de left a 70% para que el botón de filtrar esté más cerca del borde */
  }
}/*