


/*efectos para las cards*/



  
  
@keyframes animate1{
    0%{
      left:-100%;
    }
    50%,100%{
      left:100%;
    }
  }
  
  .efectos span:nth-child(2){
    animation:animate2 1.5s linear infinite;
    animation-delay:0.25s;
    background:linear-gradient(180deg,transparent,#f138f1cb);
    height:100%;
    top:-100%;
    right:0;


  }
  
  @keyframes animate2{
    0%{
      top:-100%;
    }
    50%,100%{
      top:100%;
    }
  }
  
  .efectos span:nth-child(3){
    animation:animate3 4s linear infinite;
    animation-delay:0.5s;
    background:linear-gradient(180deg,transparent,#f138f1cb);
    height:2px;
    right:-100%;
    width:100%;
    width: 20px;
    bottom:0;
  }
  
  @keyframes animate3{
    0%{
      right:-100%;
    }
    50%,100%{
      right:100%;
    }
  }
  
  .efectos span:nth-child(4){
    animation:animate4 1.5s linear infinite;
    animation-delay:0.75s;
    background:linear-gradient(270deg,transparent,#f138f1cb);
    height:100%;
    left:0;
    width:2px;
    bottom:100%;
    
    
    
  }
  
  @keyframes animate4{
    0%{
      bottom:-100%;
    }
    50%,100%{
      bottom:100%;
    }
  }
  

  .efectos box-icon {
    font-size: 30px;

  }
  

/***************************/
/***botones transparentes***/
/***************************/


.scannerRojo span{
    display:block;
    position:absolute;
	animation:animate1 3s linear infinite;
    background: linear-gradient(180deg,transparent,#ea36268f);
    height:100%;
    left:-100px;
    top:0px;
    width:100%;
    
  }

  .scannerVerde span{
    display:block;
    position:absolute;
	animation:animate1 3s linear infinite;
    background: linear-gradient(180deg,transparent,#03ae11);
    height:100%;
    left:-100px;
    top:0px;
    width:100%;
    
  }

  .scannerDisponible span{
    display:block;
    position:absolute;
	animation:animate1 3s linear infinite;
    background: linear-gradient(180deg,transparent,#c8c8c8);
    height:100%;
    left:-100px;
    top:0px;
    width:100%;
    
  }

  .scannerLimpio span{
	display:block;
    position:absolute;
	animation:animate1 3s linear infinite;
    background: linear-gradient(180deg,transparent,#0a5eff);
    height:100%;
    left:-100px;
    top:0px;
    width:100%;

  }


  .scannerReservas span{
    display:block;
      position:absolute;
    animation:animate1 3s linear infinite;
      background: linear-gradient(180deg,transparent,#4521c4);
      height:100%;
      left:-100px;
      top:0px;
      width:100%;
    }

.container .btn {
	position: relative;
	top: 0;
	left: 0;
	width: 150px;
	height: 100px;
	margin: 0px;


}
.container .btn a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(35px);
}

.sucia-vacia{
	background-color: #fa607f59;
  color: #000;
}

.sucia-ocupada{
	background-color: #BB6464;
  color: #000;
}

.vacia-sucia{

	background-color: #cefccefd;
  color: #000;
}

.disponible-limpia{
	background-color: rgba(235, 235, 235, 0.7);
  color: #000;
}

.vacia-limpia{
	background-color: rgb(203, 221, 255);
  color: #000;
}

.ocupada-limpieza{
	background-color: #6398fb;
	color: #fffcfc;

}

.reserva-pagada{
background-color: #6b0fe37e;
color: #fff;
}

.reserva-pendiente{
  background-color: #4d08a9;
  color: #Fff;
}


.container .btn:hover a {
    transform: translateY(-10px);
    transition: 0.7s ease-out;
}
.container .btn a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	/*tamaño de la cortina*/
	width: 10%;
	height: 100%;
	/*transform: skewX(15deg) translate(0); para posicionar el efecto cortina*/
	transition: 0.5s;
	/*visibilidad de efecto cortina*/
}
