*{
  text-transform: uppercase;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/*tabla de estados*/
.botones-ocultos {
  display: none;
}

#botones{
  margin-bottom: 0px;
  margin-top: 40px;
}

.botones-mostrados {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 16px;
  grid-gap: 10px;
  row-gap: 10px;

}


#mostrar-vacias-sucias {
  width: 150px;
	background-color: #bff1bf81;
  color: #057410e8;
  border-left: 5px solid #03ae11;
  border-bottom: none;
  border-right: none;
  border-top: none;
}

#mostrar-reservada-pendiente{
  width: 150px;
  background-color: #4d03ae;
  color: #fff;
  border-left: 5px solid #bc88ff;
  border-bottom: none;
  border-right: none;
  border-top: none;
}

#mostrar-reservada-pagada{
  width: 150px;
  background-color: #6b0fe3af;
  color: #fff;
  border-left: 5px solid #4d03ae;
  border-bottom: none;
  border-right: none;
  border-top: none;
}

#mostrar-disponibles{
  width: 150px;
  background-color: rgba(235, 235, 235, 0.7);
  color: #000;
  border-left: 5px solid #9b9a9a;
  border-bottom: none;
  border-right: none;
  border-top: none;
}
#mostrar-ocupada-sucias{
  width: 150px;
  background-color: #BB6464;
  color: #fff;
  border-left: 5px solid #bd0202;
  border-bottom: none;
  border-right: none;
  border-top: none;
}
#mostrar-vacia-limpieza{
  width: 150px;
  background-color: rgb(203, 221, 255);
  color: #0a5eff;
  border-left: 5px solid #0a5eff;
  border-bottom: none;
  border-right: none;
  border-top: none;
}

 #mostrar-ocupada-limpieza{
  width: 150px;
  background-color: #6398fb;
	color: #fffcfc;
  border-left: 5px solid #052d76;
  border-bottom: none;
  border-right: none;
  border-top: none;
 }

 #mostrar-mantenimiento{
  width: 150px;
  background-color: #ffdaa2;
  color: #ff7700;
  border-left: 5px solid #fdb44d;
  border-bottom: none;
  border-right: none;
  border-top: none;
 }

 #mostrar-uso-casa{
  width: 150px;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='0.25' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #05d1ca;
  color: #333;
  border-left: 7px solid #05d1ca;
  border-bottom: none;
  border-right: none;
  border-top: none;
 }
 #mostrar-bloqueo{
  width: 150px;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='0.25' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #333;
  color: #fff;
  border-left: 7px solid #0b0b0b;
  border-bottom: none;
  border-right: none;
  border-top: none;
 }


#mostrar-todas{
  width: 150px;
  background-color: #3f51b5;
  color: #ecf2ff;
  border: none;
  display: none;

}

span {
  display: inline-block;
  margin-left: 5px;
}


/***************************/
/***rack operaciones***/
/***************************/


.container {
  display: grid;
  grid-template-columns: repeat(8, minmax(220px, 1fr));
  grid-gap: 10px;
  margin: 20px;
  margin-top: 30px;
  
}





.container .btn {
	position: relative;
	top: 0;
	left: 0;
	width: 200px;
	height: 100px;
	margin: 10px;


}

.container .btn a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	font-weight: 400px;
	z-index: 1;
  border-radius: 2px;
  text-align: end;
}

a:hover {

  color: black;
}

.bloqueo{
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");

  background-color: #333;
  color: #fff;
  border-left: 7px solid #0b0b0b;
}

.usoCasa{
	background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='0.25' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #05d1ca;
  color: #fff;
  border-left: 7px solid #05d1ca;

}

.sucia-ocupada{
	background-color: #BB6464;
  color: #fff;
  border-left: 7px solid #bd0202;
}

.vacia-sucia{

	background-color: #bff1bf81;
  color: #057410e8;
  border-left: 7px solid #03ae11;
}

.disponible-limpia{
	background-color: rgba(235, 235, 235, 0.7);
  color: #000;
  border-left: 7px solid #9b9a9a;
}

.vacia-limpia{
	background-color: rgb(203, 221, 255);
  color: #0a5eff;
  border-left: 7px solid #0a5eff;
}


.ocupada-limpieza{
	background-color: #6398fb;
	color: #fffcfc;
  border-left: 7px solid #052d76;
}

.reserva-pagada{
background-color: #6b0fe3af;
color: #fff;
border-left: 7px solid #4d03ae;
}

.reserva-pendiente{
  background-color: #3b0286;
  color: #Fff;
  border-left: 7px solid #bc88ff;

}
.mantenimiento{
  background-color: #ffdaa2;
  color: #ff7700;
  border-left: 7px solid #fdb44d;

}


.container .btn:hover a {
    transform: translateY(-5px);
    transition: 0.7s ease-out;
    color: #ffffff;
    
}
.container .btn a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 10%;
	height: 100%;
	transition: 0.5s;

}



  /* Para pantallas de tamaño pequeño, menores a 576px */
@media (max-width: 575.98px) {
  .container {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-gap: 5px;
    margin: 10px;
  }
  }
/* para pantallas más pequeñas que 768px */
@media (max-width: 767px) {
  .container {
    grid-template-columns: repeat(2, minmax(240px, 1fr));
    grid-gap: 5px;
    margin: 10px;
  }
}

/* para pantallas de tamaño medio, entre 768px y 1023px */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 7px;
    margin: 15px;
  }
}


@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    grid-template-columns: repeat(6, minmax(200px, 1fr));
    grid-gap: 5px;
    margin: 20px;
  }
  .container .btn {
    position: relative;
    width: 170px;
    height: 100px;

  
  
  }
}
