* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #505050;
    font-family: "Alata";
    font-weight: 400;
    font-style: normal;
}
a {
    text-decoration: none;
    color: inherit;
    padding: 2px 3px;
    transition: all 0.1s ease-in-out;
}
a:hover {
    background-color: #38B6FF;
    color: #004AAD;
}
.container-carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.btn_reservar {
    background-color: red;
}
.carrouseles {
    width: 1000%;
    height: 100%;
    display: flex;
}

.slider-section {
    width: calc(100% / 10);
    height: 100%;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
    width: 50px;
    height: 50px;
    opacity: 0.3;
}
.btn-left img,
.btn-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: invert(1);
}
.btn-left:hover,
.btn-right:hover {
    background-color: #38B6FF;
    opacity: 1;
}

.btn-left {
    left: 10px;
}

.btn-right{
    right: 10px;
}

.main_home {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    /* max-width: 1300px; */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
}

.main_home_header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F1FFFF;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .6px;
    line-height: 44px;
    padding: 3rem 0;
}
.main_home_header_logo img{
    width: 100%;
    object-fit: contain;
    max-width: 180px;
    background-color: white;
    border-radius: 0.5rem;
    padding: 10px;
}
.main_home_tools {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    max-width: 1300px;
    width: 100%;
    padding: 0 1rem;
}
.main_home_tools div {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 60px;
}
.main_home_tools_div_date{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.1s;
}
.main_home_tools_div_date:hover {
    background-color: #92929233;
}
.main_home_tools_name,
.main_home_tools_tel {
    display: flex;
    align-items: center;
    justify-content: center;
}
.border_tool_left {
    border-radius: 0.5rem 0 0 0.5rem !important;
}
.border_tool_right {
    border-radius: 0 0.5rem 0.5rem 0  !important;
}
.border_full {
    border-radius: 0.5rem;
}
.main_home_tools_name input,
.main_home_tools_tel input{
    width: 90%;
    height: 50%;
    padding: 10px 5px;
    font-size: 15px;
    outline: none;
    border: none;
    border-bottom: 2px solid #004AAD;
    transition: all ease-in-out .1s;
}
.main_home_tools_name:hover input,
.main_home_tools_tel:hover input{
    border-bottom: 2px solid #003985;
}
#initialDate,
#endDate {
    font-size: 15px;
    color: #929292;
}
.calender_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEFEFE;
    padding: 2rem 0;
    margin-top: 1rem;
    animation: fadeInOut 0.1s ease-in-out;
    position: relative;
    max-width: 1300px;
    padding: 1 1rem;
    border-radius: 0.5rem;
}
.calender_container_img {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100000;
    background-color: #004AAD;
    color: white;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 0.5rem;
}
@keyframes fadeInOut {
    0% { 
        opacity: 0; 
        scale: .3;
    }
    50% { 
        opacity: 0.5; 
        scale: .5;
    }
    100% { 
        opacity: 1; 
        scale: 1;
    }
}
.main_home_tools_date {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 2 !important;
    text-align: center;
}
.main_home_tools_date img {
    width: 25px;
    border-radius: 8px;
    padding: 1px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.main_home_tools_date img:hover {
    background-color: #004AAD;
}
.main_home_tools_persons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2 !important;
}
.main_home_tools_persons select {
    width: 70%;
    height: 50%;
    border: 2px solid #004AAD;
    border-radius: 5px;
}
.btn_reservar {
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    border: none;
    padding: 10px 15px;
    background-color: #004AAE;
    color: white;
}
.btn_reservar:hover {
    background-color: #37B7FF;
    color: #fff;
}
.btn_crear_reserva {
    border: none;
    background-color: #004AAD;
    color: white;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, .1);
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: .15em;
    text-transform: uppercase;
    line-height: 1.29;
    width: 100%;
    height: 100%;
    flex: 1;
}
.btn_crear_reserva:hover {
    background-color: #004AAD;
    color: #fff;
}
.calenders {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}
calendar-range {
    svg {
      height: 20px;
      width: 20px;
      fill: none;
      stroke: currentColor;
      stroke-width: 1.5;
      border: none;
      background-color: #004AAD;
      color: white;
      border: none;
      padding: 2px;
    }

    path {
      stroke-linecap: round;
      stroke-linejoin: round;
    }
    
}
calendar-month {
    --color-accent: #004AAD;
    --color-text-on-accent: #ffffff;

    &::part(button) {
      border-radius: 3px;
    }

    &::part(range-inner) {
      border-radius: 0;
      background-color: #38B6FF;
        --color-text-on-accent: (0, 0, 0)ffff;
    }

    &::part(range-start) {
      border-start-end-radius: 0;
      border-end-end-radius: 0;
    }

    &::part(range-end) {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
    }

    &::part(range-start range-end) {
      border-radius: 3px;
    }
}

.contenedor_hab {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    max-width: 1300px;
    padding: 4rem 1rem;
    flex-wrap: wrap;
}

/* Card */
.card_hab {
    background-color: white;
    width: 340px;
    height: 370px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 0.75rem;
    position: relative;
    margin-top: 40px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.card_hab:hover {
    box-shadow: 0px 0px 14px 8px #436ca3;
    scale: 1.075;
}

.card_hab_header {
    position: absolute;
    width: 288px;
    height: 160px;
    border-radius: 0.75rem;
    overflow: hidden;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.card_hab_header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
    background-color: white;
}
.card_body {
    margin-top: 135px;
    padding: 0 1rem;
    height: 226px;
    display: flex;
    flex-direction: column;
}
.card_body h5 {
    line-height: 1.375;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0.2rem;
    color: #374151;
}
.card_body h6 {
    line-height: 1.375;
    font-weight: 400;
    font-size: 1.00rem;
    margin-bottom: 0.1rem;
    color: #485364;
}
.card_money{
    color: #278664;
    font-weight: 600;
}
.btn_select {
    transition: all ease-in-out 150ms;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    border: none;
    padding: 10px 15px;
    background-color: #004AAE;
    color: white;
    margin-top: auto;
    cursor: pointer;
}
.btn_select input{
    display: none;
}
.card_hab.selected {
    animation: all ease-in-out 1.5s;
    box-shadow: 0px 0px 0px 10px #004AAE;
}
.btn_submit {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    border-radius: 0.5rem;
    border: none;
    background-color: #004AAE;
    width: 30%;
    padding: 1.5rem 1rem;
    color: white;
    max-width: 1300px;
    cursor: pointer;
    margin-bottom: 5rem;
}

.btn_submit:disabled {
    cursor: not-allowed;
    background-color: #53647a;
    color: #c9c9c9
}

.card_body_info {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    align-items: center;
    font-size: 15px;
}
.card_body_info img {
    width: 25px;
    height: 25px;
}
.loaderRectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 3px;
    margin-top: 4rem;
}

.loaderRectangle div {
    width: 15px;
    height: 26px;
    animation: .9s ease-in-out infinite;
    background: #004AAE;
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.loaderRectangle div:nth-child(1) {
    animation-name: rectangleOneAnim;
}

@keyframes rectangleOneAnim {
0% {
    height: 15px;
}

40% {
    height: 30px;
}

100% {
    height: 15px;
}
}

.loaderRectangle div:nth-child(2) {
animation-name: rectangleTwoAnim;
animation-delay: 1.1s;
}

@keyframes rectangleTwoAnim {
0% {
    height: 15px;
}

40% {
    height: 40px;
}

100% {
    height: 15px;
}
}

.loaderRectangle div:nth-child(3) {
animation-name: rectangleThreeAnim;
animation-delay: 1.2s;
}

@keyframes rectangleThreeAnim {
0% {
    height: 15px;
}

40% {
    height: 50px;
}

100% {
    height: 15px;
}
}

.loaderRectangle div:nth-child(4) {
animation-name: rectangleFourAnim;
animation-delay: 1.3s;
}

@keyframes rectangleFourAnim {
0% {
    height: 15px;
}

40% {
    height: 40px;
}

100% {
    height: 15px;
}
}

.loaderRectangle div:nth-child(5) {
animation-name: rectangleFiveAnim;
animation-delay: 1.4s;
}

@keyframes rectangleFiveAnim {
0% {
    height: 15px;
}

40% {
    height: 30px;
}

100% {
    height: 15px;
}
}

@media only screen and ( max-width: 767px ) {
    .border_tool_left {
        border-radius: none;
    }
    .border_tool_right {
        border-radius: none;
    }
    .border_full {
        border-radius: none;
    }
    .main_home_tools {
        flex-direction: column;
        height: fit-content;
        gap: 5px;
    }
    .main_home_tools div{
        padding: 2px 0;
        border-radius: 0.5rem !important;
    }
    .main_home_tools_persons select{
        height: 50px;
        width: 55%;
        padding: 0.5rem 0;
    }
    .main_home_tools_button {
        height: 50px;
        padding: 0 !important;
    }
    .btn_crear_reserva{
        height: 50px;
        padding-top: 10px;
    }
    .btn-left,
    .btn-right {
        display: none;
    }
    .btn_reservar {
        display: none;
    }
    .card_hab {
        background-color: white;
        width: 90%;
        height: 335px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        border-radius: 0.75rem;
        position: relative;
        margin-top: 40px;
    }

    .contenedor_hab {
        gap: 5rem;
    }
}



/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #004AAD;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #0061E3;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #003A87;
  }
  
.card {
    background-color: white;
    color: black;
    border-radius: 25px;
    padding: 1rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
