.container {
    width: 420px; /* ajustar al ancho total de las tarjetas */
    height: 260px;
    position: relative;
    margin: 0 auto 40px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;

  }
  
  .card {
    width: 130px;
    height: 100px;
    margin-right: 10px;
    position: relative;
    float: left; /* agregar esta propiedad */
    -webkit-transition: -webkit-transform 0.1s;
    -moz-transition: -moz-transform 0.1s;
    -o-transition: -o-transform 0.1s;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
    border-radius: 1px;
    box-shadow: -1rem 0 3rem #14274E;
    margin: 1rem;

  }
  
  .card.flipped {
    -webkit-transform: translateX( -100% ) rotateY( -180deg );
    -moz-transform: translateX( -100% ) rotateY( -180deg );
    -o-transform: translateX( -100% ) rotateY( -180deg );
    transform: translateX( -100% ) rotateY( -180deg );
  }
  
  .card figure {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 100px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    position: absolute;
    margin: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

  }
  
  .card .frente {
        background-image: radial-gradient(#0a3c75, #041843);

  }
  
  .card .atras {
    background: #1f8759;
    font-size: medium;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );

  }
  .card2 .atras {
    background: rgb(180, 6, 6);
    font-size: medium;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );

  }



