.estado1{
 background-color:rgb(89, 13, 13, 1);
 color:#ba6969;
 padding: 0em 0px 0px 10px;
 border-radius: 10px 10px 100px 10px;
}
.estado1:hover{
 background-color:rgb(156, 28, 28, 1);
 color:#ba6969;
 padding: 0em 0px 0px 10px;
 border-radius: 10px 10px 100px 10px;
}