.estado5{
    background-color: #275669de;
    color: #72acc3de;
    padding: 0em 0px 0px 10px;
    border-radius: 10px;
}
.estado5:hover{
    background-color: #1588b6c2;
    color: #72acc3de;
    padding: 0em 0px 0px 10px;
    border-radius: 10px;
}