
body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/*
span {
  display: inline-block;
  margin-left: 5px;
}*/

.contenedor-sub{
  padding-left: 20px;
  padding-top: 3px;
  padding-left: 10px;
}

/*tabla de estados de filtro*/


.titulo-filtro{
  position: absolute;
  top: 10px;
  color: #3f51b5;
}

.botones-ocultos {
  display: none;
}

#botones {
  margin-bottom: 0px;
  margin-top: 70px !important;
}

.botones-mostrados {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 16px;
  grid-gap: 10px;
  row-gap: 10px;
  border-radius: 10px;
}



#mostrar-vacias-sucias {
  width: 150px;
  background-color: #bff1bf81;
  border-left: 5px solid #03ae11;
  border-bottom: none;
  border-right: none;
  border-top: none;
  color: #057410e8;
  min-height: 50px;
}

#mostrar-reservada-pendiente {
  width: 150px;
  background-color: #4d03ae;
  color: #fff;
  border-left: 5px solid #bc88ff;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 50px;
}

#mostrar-reservada-pagada {
  width: 150px;
  background-color: #6b0fe3af;
  color: #fff;
  border-left: 5px solid #4d03ae;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 50px;
}

#mostrar-disponibles {
  width: 150px;
  background-color: rgba(235, 235, 235, 0.7);
  color: #000;
  border-left: 5px solid #9b9a9a;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 50px;
}
#mostrar-ocupada-sucias {
  width: 150px;
  background-color: #bb6464;
  color: #fff;
  border-left: 5px solid #bd0202;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 50px;
}
#mostrar-ocupadas {
  width: 150px;
  background-color: #780202f8;
  color: #fff;
  border-left: 5px solid #2f010b;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 50px;
}
#mostrar-vacia-limpieza {
  width: 150px;
  background-color: rgb(203, 221, 255);
  color: #0a5eff;
  border-left: 5px solid #0a5eff;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 50px;
}

#mostrar-ocupada-limpieza {
  width: 150px;
  background-color: #6398fb;
  color: #fffcfc;
  border-left: 5px solid #052d76;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 50px;
}

#mostrar-mantenimiento {
  width: 150px;
  background-color: #ffdaa2;
  color: #ff7700;
  border-left: 5px solid #fdb44d;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 50px;
}

#mostrar-uso-casa {
  width: 150px;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='0.25' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #05d1ca;
  color: #333;
  border-left: 7px solid #05d1ca;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 50px;
}
#mostrar-bloqueo {
  width: 150px;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='0.25' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #333;
  color: #fff;
  border-left: 7px solid #0b0b0b;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 50px;
}

#mostrar-todas {
  width: 150px;
  background-color: #3f51b5;
  color: #ecf2ff;
  border: none;
  display: none;
  min-height: 50px;
}

/***************************/
/***rack operaciones***/
/***************************/

.containerRackOp {
  display: grid;
  grid-template-columns: repeat(8, minmax(220px, 1fr));
  grid-gap: 10px;
  margin: 20px;
  margin-top: 50px !important;
  padding-bottom: 5.5rem;
}


.containerRackOp .btn {
  font-size: 0.9rem;
  top: 0;
  left: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  border-radius: 2px;
  text-align: end;
  margin-top: 5px;
}

.bloqueo {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #333 !important;
  color: #fff !important;
  border-left: 7px solid #0b0b0b !important;

    display: inline-block;
    height: auto;

}

.bloqueo:hover{
  box-shadow: 0 10px 14px #090909be;
}
.usoCasa {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='0.25' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #05d1ca !important;
  color: #000 !important;
  border-left: 7px solid #05d1ca !important;
}
.usoCasa:hover{
  background-color: #05d1ca79 !important;
  box-shadow: 0 10px 14px #05d1ca8b;
}

.ocupadoH {
  background-color: #b12e3b !important;
  color: #fff !important;
  border-left: 7px solid #6a0319 !important;
}


.ocupadoH:hover{
  background-color: #c70404d3 !important;
  color: #fff;
  border: 2px solid #9f0404fb !important;
  border-left: 7px solid #ad0328 !important;
  box-shadow: 0 10px 14px #780202af !important;
}

.sucia-ocupada {
  background-color: #bb6464 !important;
  color: #fff !important;
  border-left: 7px solid #bd0202 !important;
}
.sucia-ocupada:hover{
  background-color: #bd4949 !important;
  color: #fff;
  border: 1px solid #fd02024f !important;
  border-left: 7px solid #fd0202b9 !important;
  box-shadow: 0 10px 14px #bd0202b8 !important;
}

.vacia-sucia {
  background-color: #bff1bf9f !important;
  color: #057410e8 !important;
  border-left: 7px solid #03ae11 !important;
}

.vacia-sucia:hover {
  background-color:  #81e389 !important;
  color: #fff !important;
  border: 3px solid #bff1bfa1 !important;
  border-left: 7px solid #bff1bfa1 !important;
  box-shadow: 0 10px 14px #60e96c;
}

.vacia-sucia a{
  color: #057410e8 !important;
}

.vacia-sucia a:hover{
  color: #fff !important;
}

.disponible-limpia {
  background-color: rgba(235, 235, 235, 0.7) !important;
  color: #000 !important;
  border-left: 7px solid #9b9a9a !important;

}
.disponible-limpia:hover {
  background-color: rgba(235, 235, 235, 0.7) !important;
  color: #000 !important;
  border: 1px solid #9b9a9a !important;
  border-left: 7px solid #9b9a9a !important;
  box-shadow: 0 10px 14px #9b9a9a;
}

.disponible-limpia a{
  color: #000 !important;
}

.vacia-limpia {
  background-color: rgb(203, 221, 255) !important;
  color: #0a5eff !important ;
  border-left: 7px solid #0a5eff !important;
}

.vacia-limpia:hover {
  background-color:  #0a60ff6d !important;
  color: #0a5eff !important ;
  border: 1px solid rgb(203, 221, 255) !important;
  border-left: 7px solid rgb(203, 221, 255) !important;
  box-shadow: 0 10px 14px #0a60ff9d;
}

.vacia-limpia a{
  color: #0a5eff !important;
}

.ocupada-limpieza {
  background-color: #6398fb !important;
  color: #fff !important;
  border-left: 7px solid #052d76 !important;
}

.ocupada-limpieza:hover {
  background-color:  #052d76 !important;
  color: #fff !important;
  border: 1px solid #6398fb !important;
  border-bottom: 4px solid #6398fb !important;
  border-left: 7px solid #6398fb !important;
  box-shadow: 0 10px 14px #6398fbdd;
}


.reserva-pagada {
  background-color: #6b0fe3af !important;
  color: #fff !important;
  border-left: 7px solid #4d03ae !important;
}
.reserva-pagada:hover {
  background-color: #7622e6af !important;
  color: #fff !important;
  border-left: 7px solid #7223da !important;
  box-shadow: 0 10px 14px #6b0fe396;
}


.reserva-pendiente {
  background-color: #3b0286 !important;
  color: #fff !important;
  border-left: 7px solid #bc88ff !important;
}

.reserva-pendiente:hover {
  background-color: #5901cc !important;
  color: #fff !important;
  border-left: 7px solid #cdabfa !important;
  box-shadow: 0 10px 14px #3b0286cb;
}

.mantenimiento {
  background-color: #ffdaa2 !important;
  color: #ff7700 !important;
  border-bottom: 3px solid #fdb44d !important;
  border-left: 7px solid #fdb44d !important;
}

.mantenimiento:hover {
  background-color: #fdb44d !important;
  color: #ff7700 !important;
  border-left: 7px solid  #ffdaa2 !important;
  box-shadow: 0 10px 14px #ff7700c9;
}

.mantenimiento a{
  color: #ff7700 !important;
}

.btn-dark{
  background-color: #97b2f96e !important;
  border-color: #3f51b5 !important;
  color: #3f51b5 !important;
}

.btn-dark:hover{
  background-color: #97b2f9ee !important;
  border-color: #0b258c !important;
  color: #fff !important;
}

.btn-outline-warning{
  color: #ffc107 !important;
  border-color: #ffc107;
  background-color: #fdf0b778;
}

.btn-outline-warning:hover{
  color: #fff !important;
}
.btn-outline-danger{
  background-color: rgba(255, 0, 0, 0.145);
}

.btn-info{
  background-color: #97b2f96e !important;
  border-color: #3f51b5 !important;
  color: #3f51b5 !important;
}

.btn-info:hover{
  background-color: #97b2f9ee !important;
  border-color: #3f51b5 !important;
  color: #Fff !important;
}

.modal-header{
  background-color: #97b2f9ee !important;
  border-color: #3f51b5 !important;
  color: #3f51b5 !important;
}

.modal-footer{
  background-color: #97b2f9ee !important;
  border-color: #3f51b5 !important;
  color: #3f51b5 !important;
}

.modal-content{
  border: 1px solid #3f51b5!important;
}

.close{
  text-transform: uppercase !important;
  width: 30px !important;
  height: 30px !important;
  font-size: 18px;
  color: red;
  border-radius: 5px;
  border: 1px solid #3f51b5 !important;
}

.close:hover{
  width: 30px !important;
  height: 30px !important;
  background-color: #e7e5e569;
  color: red;
  border: 2px solid #3f51b5 !important;
}
/*
.btn .ocupado {
  background-color: #780202f8;
  color: #fff;
  border-left: 7px solid #2f010b;
}*/

.containerRackOp .btn:hover {
  transform: translateY(-5px);
  transition: 0.2s ease-out;
}
.containerRackOp .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  transition: 0.5s;
  font-size: large;
}

.containerRackOp .btn  a {
  color: #fff;
  /*text-shadow:  1px 0px 0px rgb(0, 0, 0);*/
  font-weight: 400;
}




/**********************footer********************/



.containerFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 20000;
  
}

.rowFooter{
  position: absolute;
  bottom: 0 ;
  width: 100% ;
  z-index: 20000;
  margin-bottom: 15px;
  font-size: calc(0.4rem + .6vw) !important;
}


.cardFooter {
 /* background-color: #1b1d5d;*/
background-color: #3f51b5;
  color: #fff;

}

.card-header{
  padding-bottom: 50px !important;
  background-color: #30349f !important;
  color: #fff;
}



/* Para pantallas de tamaño pequeño, menores a 576px */
@media (max-width: 575.98px) {
  .containerRackOp {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-gap: 5px;
    margin: 10px;
  }
  .containerRackOp .btn {
    position: relative;
    width: 140px;
    height: 70px;
  }
  .informacion{
    margin-top: 70px;
  }
}
/* para pantallas más pequeñas que 768px */
@media (max-width: 767px) {
  .containerRackOp {
    grid-template-columns: repeat(2, minmax(240px, 1fr));
    grid-gap: 5px;
    margin: 10px;
  }
  .containerRackOp .btn {
    position: relative;
    width: 150px;
    height: 80px;
  }
}

/* para pantallas de tamaño medio, entre 768px y 1023px */
@media (min-width: 768px) and (max-width: 1024px) {
  .containerRackOp {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 7px;
    margin: 15px;
  }
  .containerRackOp .btn {
    position: relative;
    width: 170px;
    height: 100px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .containerRackOp {
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    grid-gap: 5px;
    margin: 20px;
  }
  .containerRackOp .btn {
    position: relative;
    width: 170px;
    height: 100px;
  }
}

/* Para pantallas de tamaño grande, entre 1281px y 1600px */
@media (min-width: 1281px) and (max-width: 1600px) {
  .containerRackOp {
    grid-template-columns: repeat(7, minmax(200px, 1fr));
    grid-gap: 5px;
    margin: 25px;
  }
  .containerRackOp .btn {
    position: relative;
    width: 170px;
    height: 100px;
  }
}

/* Para pantallas de tamaño grande, entre 1281px y 100px */
@media (min-width: 1601px) and (max-width: 1800px) {
  .containerRackOp {
    grid-template-columns: repeat(8, minmax(200px, 1fr));
    grid-gap: 5px;
    margin: 25px;
  }
  .containerRackOp .btn {
    position: relative;
    width: 170px;
    height: 100px;
  }
}

@media (min-width: 1801px) {
  .containerRackOp {
    grid-template-columns: repeat(9, minmax(200px, 1fr));
    grid-gap: 5px;
    margin: 25px;
  }
  .containerRackOp .btn {
    position: relative;
    width: 170px;
    height: 100px;
  }
}
