@import '../colors.css';
body {
  margin: 0;
  height: 100% !important;
  display: flex;
  flex-direction: column;
}

/* Animation */

.fondoWaves{
  background-color: var(--fondo);
  color: var(--titulos);
  width: 96vw;
  height: 60px;
  min-height: 40px;
  min-width: 40px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

.containerWave {
  position: relative;
}

.fechaAñoMes {
  position: absolute;
  top: 15px;
  left: 45%;
  z-index: 1;

}
@keyframes move-forever {
  0% {
  transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

.area {
  background: #ecf2ff;
  width: 100%;
  z-index: -9999999999;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -9999999999;
  border: 2px solid white;
  animation: infinite 10s infinite cubic-bezier(0.26, 0.62, 1, 1);
}

.circles{
  border-radius: 15px;
  position:absolute;
  left:50%;
  top:50%;
  translate:-50% -50%;
  z-index:-1;
  border:none;
  opacity: 0.7;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 40px;
  height: 40px;
  animation: rotate 10s infinite linear;
  animation: animate 25s linear infinite;
  bottom: -150px;
  border: 5px solid #8e97f9;
  z-index: -9999999999;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  z-index: -9999999999;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
  z-index: -9999999999;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
  z-index: -9999999999;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
  z-index: -9999999999;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  z-index: -9999999999;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
  z-index: -9999999999;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
  z-index: -9999999999;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 30px;
  height: 30px;
  animation-delay: 15s;
  animation-duration: 45s;
  z-index: -9999999999;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 16px;
  height: 16px;
  animation-delay: 2s;
  animation-duration: 35s;
  z-index: -9999999999;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
  z-index: -9999999999;
}

.circles li:nth-child(11) {
  left: 5%;
  width: 120px;
  height: 120px;
  animation-delay: 4s;
  animation-duration: 11s;
  z-index: -9999999999;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(120deg);
    opacity: 0;
    border-radius: 100%;
  }
}

/*termina background*/

.wrapper {
  position: absolute;
  margin: -171px 0 0 -327.5px;
  left: 50%;
  top: 50%;
  height: 342px;
  width: 655px;
  display: none;
}
.card__ {
  background-size: cover;
  width: 655px;
  height: 342px;
  border-radius: 5px;
  position: absolute;
  box-shadow: -20px 30px 116px 0 rgba(92, 15, 15, 0.54);
  overflow: hidden;
  z-index: 4;
  text-align: center;
}
.card__orangeShine, .card__greenShine {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}
.card__orangeShine {
  right: -150px;
  top: -90px;
  bottom: 50px;
  z-index: 2;
  width: 570px;
  height: 500px;
}
.card__greenShine {
  left: 20%;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 400px;
}
.card__year {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #fff;
  font-size: 60px;
  line-height: 110px;
  font-weight: 100;
  position: relative;
  z-index: 2;
}
.card__circle, .card__smallCircle {
  position: absolute;
  border-radius: 100%;
  background-image: linear-gradient(-239deg, #3b4576 0%, #242a48 59%);
  box-shadow: -10px -15px 90px 0 #191c41;
  z-index: 2;
}
.card__circle {
  right: -88px;
  bottom: 34px;
  width: 230px;
  height: 230px;
}
.card__smallCircle {
  right: 40%;
  top: -7%;
  width: 50px;
  height: 50px;
}
.card__outer-year {
  font-family: 'Orbitron';
}
.card__outer-year span {
  position: absolute;
  color: #fff;
  font-size: 16px;
  z-index: 4;
}
.card__outer-year span:nth-child(1):after, .card__outer-year span:nth-child(4):after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #fff;
}
.card__outer-year span:nth-child(1) {
  top: 35px;
  left: 35px;
}
.card__outer-year span:nth-child(2) {
  left: none;
  top: 35px;
  right: 35px;
}
.card__outer-year span:nth-child(3) {
  top: none;
  bottom: 35px;
  left: 35px;
}
.card__outer-year span:nth-child(4) {
  top: none;
  left: none;
  right: 35px;
  bottom: 35px;
}
.card__comet {
  position: relative;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 100%;
}
.card__cometOuter {
  position: absolute;
  top: 30%;
  left: 25%;
}
.card__comet--second {
  right: -30px;
  top: -15px;
  transform: scale(0.6);
}
.card__comet:before, .card__comet:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 27%, rgba(255, 255, 255, 0) 100%);
  border-radius: 20px;
  transform: rotate(-45deg);
}
.card__comet:before {
  width: 18px;
  height: 70px;
  transform-origin: -2px 13px;
}
.card__comet:after {
  width: 12px;
  height: 80px;
  transform-origin: 0px 8px;
}
.source {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
  opacity: 0.5;
  font-size: 12px;
}
.source a {
  color: #000;
}

/*botones de bootstrap*/
.btn-warning {
  border:2px solid  var(--colorTextNaranja);
  background: var(--fondoNaranja);
  color: var(--titulos) !important;
}

.btn-warning:hover {
  border:2px solid  var(--colorTextNaranja);
  background: var(--colorTextNaranja) !important;
  color: var(--titulos) !important;
}
.btn-warning:focus{
  color: var(--titulos) !important;
  transform: scale(0.9);
}

.btn-success {
  color: var(--colorTextVerde) !important;
  background-color: var(--fondoVerde);
  border: 2px solid var(--colorTextVerde) !important;
}

.btn-success:hover {
  border: 2px solid var(--colorTextVerde) !important;
  color: var(--fondoVerde) !important;
  background-color: var(--colorTextVerde);
}
.btn-success:focus{
  scale: 0.9;
  color: var(--fondoVerde) !important;
}

.btn-danger {
  border:2px solid  var(--colorTextRojo);
  background: var(--fondoRojo);
  color: var(--colorTextRojo) !important;
}

.btn-danger:hover {
  border:2px solid  var(--colorTextRojo);
  background:  var(--colorTextRojo);
  color: var(--fondoRojo) !important;
}
.btn-danger:focus{
  color: var(--fondoRojo) !important;
  scale: 0.9;
}

.btn-primary {
  background-color: var(--fondoAzul);
  color: var(--subtitulos) ;
  border: 2px solid var(--subtitulos) !important;
}
.btn-primary:hover{
  background-color: var(--subtitulos);
  color: var(--fondoAzul);
  border: 2px solid var(--subtitulos) !important;
}
.btn-primary:focus{
  background-color: var(--subtitulos);
  color: var(--fondoAzul);
  border: 2px solid var(--subtitulos) !important;
  transform: scale(0.9);
}

.btn-secondary {
  background-color: var(--fondoAzul);
  color: var(--colorTextAzul) !important;
  border: 2px solid var(--colorTextAzul);
}
.btn-secondary:hover{
  background-color: var(--colorTextAzul);
  color: var(--fondoAzul) !important;
  border: 2px solid var(--colorTextAzul);
}
.btn-secondary:focus{
  background-color: var(--colorTextAzul);
  color: var(--fondoAzul) !important;
  border: 2px solid var(--colorTextAzul);
  transform: scale(0.9);
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* .form-control{
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #fff;
} */
/*boton si o no*/
.switch {
  position: absolute;
  top: 50%;
  width: 130px;
  height: 32px;
  text-align: center;
  background: #4cd964;
  transition: all 0.2s ease;
  border-radius: 5px;
  /* box-shadow: 6px 7px 11px #9b9b9b; */
}

.switch span {
  position: absolute;
  width: 20px;
  height: 4px;
  top: 50%;
  left: 50%;
  margin: -2px 0px 0px -4px;
  background: #fff;
  display: block;
  transform: rotate(-45deg);
  transition: all 0.2s ease;
  border-radius: 2px;
}

.switch span:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 12px;
  margin-top: -8px;
  background: #fff;
  transition: all 0.2s ease;
  border-radius: 2px;
}
input[type="checkbox"]{
  height: 20px;
  width: 20px;
  border: 1px solid var(--subtitulos);
}
input[type="radio"] {
  /* display: none; */
  height: 20px;
  width: 20px;
}

.switch label {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
  width: 60px;
  line-height: 50px;
  transition: all 0.2s ease;
}

label[for="yes"] {
  position: absolute;
  left: 0px;
  bottom: -10px;
}

label[for="no"] {
  position: absolute;
  right: 0px;
  bottom: -10px;
}

#no:checked ~ .switch {
  background: #ff3b30;
}

#no:checked ~ .switch span {
  background: #fff;
  margin-left: -8px;
}

#no:checked ~ .switch span:after {
  background: #fff;
  height: 20px;
  margin-top: -8px;
  margin-left: 8px;
}

#yes:checked ~ .switch label[for="yes"] {
  color: #fff;
}

#no:checked ~ .switch label[for="no"] {
  color: #fff;
}

.contenedor-sub {
  /* padding-left: 20px; */
  padding-top: 3px;
  /* padding-left: 10px; */
}

/*tabla de estados de filtro*/

.titulo-filtro {
  position: absolute;
  top: 10px;
  color: #3f51b5;
}

.botones-ocultos {
  display: none;
}

#botones {
  margin-bottom: 0px;
  margin-top: 70px !important;
}

.botones-mostrados {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 16px;
  grid-gap: 10px;
  row-gap: 10px;
}

.botones-estado {
  min-height: 30px;
  max-height: 30px;
}

#mostrar-vacias-sucias {
  width: 150px;
  height: 5px;
  background-color: #ceffbb !important;
  color: #0e2804 !important;
  border-left: 7px solid #a4bc92 !important;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 30px;
}

#mostrar-reservada-pendiente {
  width: 158px;
  background-color: #4d03ae;
  color: #fff;
  border-left: 5px solid #bc88ff;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 30px;
}

#mostrar-reservada-pagada {
  width: 158px;
  background-color: #6b0fe3af;
  color: #fff;
  border-left: 5px solid #4d03ae;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 30px;
}

#mostrar-disponibles {
  width: 150px;
  background-color: rgba(235, 235, 235, 0.7);
  color: #000;
  border-left: 5px solid #9b9a9a;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 30px;
}

#mostrar-ocupada-sucias {
  width: 150px;
  background-color: #bb6464;
  color: #fff;
  border-left: 5px solid #bd0202;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 30px;
}

#mostrar-ocupadas {
  width: 150px;
  background-color: #a80000fc;
  color: #fff;
  border-left: 5px solid #650208;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 30px;
}

#mostrar-vacia-limpieza {
  width: 150px;
  background-color: rgb(203, 221, 255);
  color: #0a5eff;
  border-left: 5px solid #0a5eff;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 30px;
}

#mostrar-ocupada-limpieza {
  width: 150px;
  background-color: #6398fb;
  color: #fffcfc;
  border-left: 5px solid #052d76;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 30px;
}

#mostrar-mantenimiento {
  width: 150px;
  background-color: #ffdaa2;
  color: #ff7700;
  border-left: 5px solid #fdb44d;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 30px;
}

#mostrar-uso-casa {
  width: 150px;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='0.25' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #05d1ca;
  color: #333;
  border-left: 7px solid #05d1ca;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 30px;
}

#mostrar-bloqueo {
  width: 150px;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='0.25' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #333;
  color: #fff;
  border-left: 7px solid #0b0b0b;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 30px;
  max-height: 30px;
}

#mostrar-todas {
  width: 150px;
  background-color: #3f51b5;
  color: #ecf2ff;
  border: none;
  display: none;
  min-height: 30px;
  height: 30px;
}
/****************************/
/****************************/
/******rack operaciones******/
/****************************/
/****************************/
.containerRackOp {
  display: grid;
  grid-template-columns: repeat(12, minmax(169px, 1fr));
  /* grid-gap: 10px; */
  /* margin: 20px; */
  margin-top: 40px !important;
  overflow-y: auto;
  width: 100%;
  /* height: 88vh; */
  max-height: calc(100vh - 100px) !important;
  padding-bottom: 2rem;
}

.containerRackOp .btn {
  font-size: 0.9rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 5px;
  /* letter-spacing: 1px; */
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  text-align: center;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
  outline: none;
  content: none;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.containerRackOp .btn:hover {
  /* border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px; */
  box-shadow: 0 10px 14px #292929dd !important;
  transition: all 0.2s ease-in-out;
}

/* .containerRackOp .btn:hover a {
  font-weight: 500;
} */
/*
/* Estilo del botón en modo noche *//*
body.modo-nocturno .containerRackOp .btn {
  box-shadow: 10px 5px 10px rgba(86, 58, 142, 0.491);
}*/

/* Estilo de la sombra del borde blanco del botón en modo noche *//*
body.modo-nocturno .containerRackOp .btn:focus {
  box-shadow: 0 15px 0 3px rgba(74, 40, 143, 0.205);
}*/

.context {
  display: block;
}

.context.hide {
  display: none;
}

.bloqueo {
  /* background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E"); */
  background-color: #333 !important;
  color: #fff !important;
  border-left: 7px solid #0b0b0b !important;
  display: inline-block;
  height: auto;
  transition: 0.5s ease-out;
  width: 100%;
}

.bloqueo:hover {
  box-shadow: 0 10px 14px #090909be;
  background-color: #0b0b0b !important;
}

.usoCasa {
/*   background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='0.25' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
 */  /* background-color: var(--fondoVerde) !important; */
  background-color: #05d1ca42 !important;
  color: var(--colorTextInfo) !important;
  border-left: 7px solid var(--colorTextInfo) !important;
}

.usoCasa:hover {
  background-color: var(--colorTextInfo) !important;
  /* box-shadow: 0 10px 14px #069894 !important; */
  color: var(--fondoVerde) !important;
}

.usoCasa a {
  color: #000 !important;
}

.ocupadoH {
  /* background-color: #a80000fc !important;
  background: linear-gradient( 180deg,#a80000fc 0%, rgb(253, 87, 87) 40%,#a80000fc 100%); */
  background: var(--fondoRojo) !important;
  color: var(--colorTextRojo) !important;
  /* background: var(--colorTextRojo) !important; */
  /* color: var(--fondoRojo) !important; */
  border-left: 7px solid var(--colorTextRojo) !important;
}
.ocupadoH a{
  color: var(--colorTextRojo) !important;
  /* color: var(--fondoRojo) !important; */
}

.ocupadoH:hover {
  background-color: var(--colorTextRojo) !important;
  color: var(--fondoRojo) !important;
}
.ocupadoH:hover a{
  color: var(--fondoRojo) !important;
}
.ocupadoH:hover span{
  color: var(--fondoNaranja) !important;
}

.sucia-ocupada {
  background-color: #bb6464 !important;
  /* background: linear-gradient(180deg, #ed6a6a 0%, #fb9595 40%, #bc3f3f 100%); */
  color: #fff !important;
  border-left: 7px solid #bd0202 !important;
}

.sucia-ocupada:hover {
  background-color: #ba2020 !important;
  border-left: 7px solid #d95d5d !important;
  box-shadow: 0 10px 14px #da5555 !important;
}

.vacia-sucia {
  background-color: var(--fondoVerde) !important;
  /* background: linear-gradient(180deg, #d3ffa7 0%, #e6fad2 40%, #d1faa7 100%); */
  color: var(--colorTextVerde) !important;
  border-left: 7px solid var(--colorTextVerde) !important;
}

.vacia-sucia:hover {
  background-color: var(--colorTextVerde) !important;
  color: var(--fondoVerde) !important;
  box-shadow: 0 10px 14px #60e96c;
}

.vacia-sucia a {
  color: var(--colorTextVerde) !important;
}

.vacia-sucia:hover a {
  color: var(--fondoVerde) !important;
}
.vacia-sucia:hover span{
  color: var(--fondoVerde) !important;
}

.disponible-limpia {
  /* background: var(--fondo); */
  background-color: #bfffce !important;
  color: var(--parrafos);
  border-left: 7px solid var(--parrafos) !important;
}
.disponible-limpia a {
  color: #000 !important;
}

.disponible-limpia:hover {
  /* background-color: var(--parrafos) !important; */
  background-color: #a2fcb7 !important;
  color: black !important;
  border-left: 7px solid var(--parrafos) !important;
  box-shadow: 0 10px 14px #9b9a9a;
}
.disponible-limpia:hover a{
  color: black !important;
}
.disponible-limpia:hover span{
  color: black !important;
}

.vacia-limpia {
  background-color: rgb(203, 221, 255) !important;
  color: #0a5eff !important;
  border-left: 7px solid #0a5eff !important;
}

.vacia-limpia:hover {
  background-color: rgb(160, 192, 251) !important;
  color: #0a5eff !important;
  border-left: 7px solid rgb(160, 192, 251) !important;
  box-shadow: 0 10px 14px #0a60ff9d;
}

.vacia-limpia a {
  color: #0a5eff !important;
}

.ocupada-limpieza {
  background-color: var(--fondoAzul) !important;
  color: var(--colorTextAzul) !important;
  border-left: 7px solid var(--colorTextAzul) !important;
}
.ocupada-limpieza:hover {
  box-shadow: 0 10px 14px #4d8afbdd;
  background-color: var(--colorTextAzul) !important;
  color: #fff !important;
  border-left: 7px solid var(--colorTextAzul) !important;
  box-shadow: 0 10px 14px #6398fbdd;
}
.ocupada-limpieza a{
  color: var(--colorTextAzul) !important;
}
.ocupada-limpieza:hover a{
  color: var(--fondoAzul) !important;
}
.ocupada-limpieza:hover span{
  color: var(--fondoAzul);
}



.reserva-pagada {
  background-color: #6b0fe3af !important;
  color: #000 !important;
  border-left: 7px solid #4d03ae !important;
}

.reserva-pagada:hover {
  background-color: #5901cc !important;
  color: #fff !important;
  border-left: 7px solid #cdabfa !important;
  box-shadow: 0 10px 14px #3b0286cb;
}

.reserva-pendiente {
  background-color: #3b0286 !important;
  color: #fff !important;
  border-left: 7px solid #bc88ff !important;
}

.reserva-pendiente:hover {
  background-color: #46145bfe !important;
  color: #fff !important;
  border-left: 7px solid #bc88ff !important;
  box-shadow: 0 10px 14px #6b0fe396;
}

.mantenimiento {
  background-color: #ffdaa2;
  background: var(--fondoNaranja) !important;
  color: var(--titulos) !important;
  border-left: 7px solid var(--colorTextNaranja) !important;
}

.mantenimiento:hover {
  background-color: var(--colorTextNaranja) !important;
  color: var(--titulos) !important;
  border-left: 7px solid var(--colorTextNaranja) !important;
  box-shadow: 0 10px 14px #fa5f05;
}

.mantenimiento a {
  color: #fa5f05 !important;
}

.btn-dark {
  background-color: #97b2f96e !important;
  border-color: #3f51b5 !important;
  color: #3f51b5 !important;
}

.btn-dark:hover {
  background-color: #97b2f9ee !important;
  border-color: #0b258c !important;
  color: #fff !important;
}

.btn-outline-warning {
  color: #a37b03 !important;
  border: 2px solid var(--colorTextNaranja);
  background-color: var(--fondoNaranja);
}

.btn-outline-warning:hover {
  color: #fff !important;
}

.btn-outline-danger {
  background-color: var(--fondoRojo);
  border: 2px solid var(--colorTextRojo);
}

.btn-info {
  background-color: var(--fondoAzul);
  border: 2px solid var(--colorTextInfo);
  color: var(--colorTextInfo) !important;
}

.btn-info:hover {
  background-color: var(--colorTextInfo);
  border-color: var(--colorTextInfo);
  color: var(--fondoAzul) !important;
}
.btn-info:focus{
  transform: scale(0.9);
  color: var(--fondoAzul) !important;
}

.modal-header {
  background-color: var(--fondo) !important;
  text-align: center;
  color: var(--titulos) !important;
}

.modal-footer {
  background-color: var(--fondo) !important;
  color: #3f51b5 !important;
}

.close {
  text-transform: uppercase !important;
  width: 30px !important;
  height: 30px !important;
  font-size: 18px;
  background: var(--colorTextRojo);
  color: white;
  border-radius: 5px;
  border: 2px solid var(--colorTextRojo) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close:hover {
  width: 30px !important;
  height: 30px !important;
  background-color: var(--fondoRojo);
  color:  var(--colorTextRojo);
  border: 2px solid var(--colorTextRojo) !important;
}
.btn {
  color: #000;
}

.containerRackOp .btn:after {
  position: absolute;
  content: " ";
  font-size: 4em;
  text-align: end;
  color: #ffffff4c;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #ffffff13;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.mantenimiento:after {
  position: absolute;
  content: "";
  font-size: 4em;
  text-align: end;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #f6d95670;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.ocupada-limpieza:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #0529ab70;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.containerRackOp .btn:hover:after {
  right: auto;
  right: 0;
  width: 100%;
}

.my-input:checked + .containerRackOp .btn {
  background-color: #fff;
  color: #30349f;
  border-color: #8e97f9;
  font-weight: 500;
}

.my-input:checked + .containerRackOp .btn:after {
  right: calc(102% - 8px);
  transform: translateX(100%);
  border: 2px solid #fff;
  transition: all 0.3s ease;
}

.terminar {
  background-color: var(--fondoCeldas) !important;
  border-left: 7px solid var(--colorTextInfo);
  color: var(--colorTextInfo) !important;
}

.terminar:hover {
  background-color: var(--colorTextInfo) !important;
  color: var(--fondoCeldas) !important;
}

.cambiar_usuario {
  background: #614739 !important;
  border-left: 7px solid #3c2c23;
}

.cambiar_usuario:hover {
  background: #3c2c23 !important;
}

/* .desocupar {
  border: 1px solid #676767 !important;
  border: 1px solid #818181 !important;
} */

.desocupar:hover {
  background-color: var(--parrafos);
  color: var(--fondo);
}

.sucia {
  border-left: 7px solid #0e2804;
  background-color: #ddffbb !important;
  color: #0e2804 !important;
}

.sucia:hover {
  background-color: #0e2804 !important;
  color: #ddffbb !important;
}

.restaurante {
  background-color: #c08a58 !important;
  color: #ffffff !important;
  border-left: 7px solid #634120;
}

.restaurante:hover {
  background-color: #634120 !important;
  color: #fff !important;
}

.edo_cuenta {
  background-color: var(--fondoVerde) !important;
  color: var(--colorTextVerde) !important;
  border-left: 7px solid var(--colorTextVerde) !important;
}

.edo_cuenta:hover {
  background-color: var(--colorTextVerde) !important;
  color: var(--fondoVerde) !important;
}

.select_reca {
  background-color: #8f91ee !important;
  color: #fff !important;
  border-left: 7px solid #393ca2 !important;
}

.select_reca:hover {
  background-color: #393ca2 !important;
  color: #fff !important;
}

.btn-square-lg {
  transition: 0.3s ease-out;
}

.btn-square-lg:hover {
  box-shadow: 0 10px 14px #2929294f;
}

.containerRackOp .btn:hover {
  transform: translateY(-5px);
  transition: all 0.2s ease-out;
}

.containerRackOp .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  transition: 0.5s;
  font-size: large;
}

.containerRackOp .btn a {
  color: #fff;
  font-weight: 400;
}

/**********************footer********************/

.containerFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 20000;
  padding: 0 1rem;
}

.rowFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 20000;
  font-size: 1.5em;
}

.card-header {
  background-color: var(--fondo);
  color: var(--titulos);
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.cardFooter{
  background-color: var(--fondo);
  color: var(--parrafos);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  overflow-x: auto;
  gap: 1rem;
  max-height: 100px;
  background-color: var(--fondoAzul) !important;
  padding-bottom: 1rem;
  padding-top: 1rem;
  -webkit-box-shadow: 0px -5px 33px 14px rgba(194,194,194,0.2);
  box-shadow: 0px -5px 33px 14px rgba(194,194,194,0.2);
}
@media (max-width: 605px){
  .cardFooter{
    justify-content: flex-start;
    padding-bottom: 0;
    text-align: center;
    text-align: center;
    padding-top: 0;
  }
}
/* Para pantallas de tamaño pequeño, menores a 576px */
@media (max-width: 575.98px) {
  .containerRackOp {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-gap: 5px;
    margin: 10px;
  }
  .containerRackOp .btn {
    position: relative;
    width: 140px;
    height: 70px;
  }
}

/* para pantallas más pequeñas que 768px */
@media (max-width: 767px) {
  .containerRackOp {
    grid-template-columns: repeat(2, minmax(130px, 1fr));
    grid-gap: 5px;
    margin: 10px;
  }
  .containerRackOp .btn {
    position: relative;
    width: 150px;
    height: 170px;
  }
}

/* para pantallas de tamaño medio, entre 768px y 1023px */
@media (min-width: 768px) and (max-width: 1024px) {
  .containerRackOp {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 7px;
    margin: 15px;
  }
  .containerRackOp .btn {
    position: relative;
    width: 170px;
    height: 150px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .containerRackOp {
    grid-template-columns: repeat(12, minmax(155px, 1fr));
    /* grid-gap: 5px;
    margin: 20px; */
  }

  .containerRackOp .btn {
    position: relative;
    width: 150px;
    height: 125px;
  }
}

/* Para pantallas de tamaño grande, entre 1281px y 1600px */
@media (min-width: 1281px) and (max-width: 1600px) {
  .containerRackOp {
    grid-template-columns: repeat(7, minmax(200px, 1fr));
    grid-gap: 5px;
    margin: 25px;
  }
  .containerRackOp .btn {
    position: relative;
    width: 170px;
    height: 140px;
  }
}

/* Para pantallas de tamaño grande, entre 1281px y 100px */
@media (min-width: 1601px) and (max-width: 1800px) {
  .containerRackOp {
    grid-template-columns: repeat(8, minmax(200px, 1fr));
    grid-gap: 5px;
    margin: 25px;
  }
  .containerRackOp .btn {
    position: relative;
    width: 170px;
    height: 150px;
  }
}

@media (min-width: 1801px) {
  .containerRackOp {
    grid-template-columns: repeat(12, minmax(140px, 1fr));
    /* grid-gap: 5px; */
    /* margin: 25px; */
  }
  .containerRackOp .btn {
    position: relative;
    width: 150px;
    height: 125px;
    /* overflow-y: auto; */
  }
}

.yesornot{
  display: none;
}

.expirar{
  animation: borderAnimation infinite 2s !important;
}

@keyframes borderAnimation {
  0%{
    border-left: 7px solid red;
  }
  100%{
    border-left: 7px solid black;
  }
}

.expirarRack{
  animation: shadow infinite reverse 2s !important;
}

@keyframes shadow{
  0%{
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 16%);
  }
  100%{
    box-shadow: 0px 0 2px 3px rgba(255, 25, 25, 0.54);
  }
}

.asterisco::after{
  content: "*";
  color: red;
  margin-left: 3px;
}
.Disponible{
  background-color: #ADB5BD;
  border-left: 7px solid;
}
.Disponible a{
  color: black !important;
}
.OcupadaLimpia{
  background-color: #F1AEB5;
  border-left: 7px solid;
}
.OcupadaLimpia a{
  color: black !important;
}
.OcupadaSucia{
  background-color: #B02A37;
  color: white;
  border-left: 7px solid;
}
.OcupadaUsoCasa{
  background-color: #087990;
  color: white;
  border-left: 7px solid;
}
.OcupadaLimpieza{
  background-color: #0D6EFD;
  color: white;
  border-left: 7px solid;
}
.Mantenimiento{
  background-color: #FFC107;
  border-left: 7px solid;
}
.Mantenimiento a{
  color: black !important;
}
.OcupadaLimpieza{
  background-color: #3DD5F3;
  border-left: 7px solid;
  color: black;
}