@import '../colors.css';
body {
  margin: 0;
  height: 100% !important;
  display: flex;
  flex-direction: column;

}

/* Animation */

.fondoWaves{
  background-color: #ffffffdf;
  color: var(--titulos);
  width: 100vw;
  height: 60px;
  min-height: 40px;
  min-width: 40px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

.containerWave {
  position: relative;
}

.fechaAñoMes {
  position: absolute;
  top: 15px;
  left: 45%;
  z-index: 1;

}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
/*
.context {
  width: 100%;
  position: absolute;
  top: 0vh;
  z-index: -9999999999; 
}*/


.area {
  background: #ecf2ff;
  width: 100%;
  z-index: -9999999999;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -9999999999;
  border: 2px solid white;
  animation: infinite 10s infinite cubic-bezier(0.26, 0.62, 1, 1);
}

.circles{
  border-radius: 15px;
  position:absolute;
  left:50%;
  top:50%;
  translate:-50% -50%;
  z-index:-1;
  border:none;
  opacity: 0.7;
}


.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 40px;
  height: 40px;
  background: 
  radial-gradient(18% 28% at 24% 50%,#cefAFFFF 7%,#073AFF00 100%),radial-gradient(18% 28% at 18% 71%,#fffFFF59 6%,#073AFF00 100%),radial-gradient(70% 53% at 36% 76%,#73f2FFFF 0,#073AFF00 100%),radial-gradient(42% 53% at 15% 94%,#fffFFFFF 7%,#073AFF00 100%),radial-gradient(42% 53% at 34% 72%,#fffFFFFF 7%,#073AFF00 100%),radial-gradient(18% 28% at 35% 87%,#fffFFFFF 7%,#073AFF00 100%),radial-gradient(31% 43% at 7% 98%,#fffFFFFF 24%,#073AFF00 100%),radial-gradient(21% 37% at 72% 23%,#d3fF6D9C 24%,#073AFF00 100%),radial-gradient(35% 56% at 91% 74%,#8a4FFFF5 9%,#073AFF00 100%),radial-gradient(74% 86% at 67% 38%,#6dfFAEF5 24%,#073AFF00 100%),linear-gradient(125deg,#4eb5FFFF 1%,#4c00FCFF 100%);
  animation: rotate 10s infinite linear; 
  animation: animate 25s linear infinite;
  bottom: -150px;
  border: 5px solid #8e97f9;
  z-index: -9999999999;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  z-index: -9999999999;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
  z-index: -9999999999;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
  z-index: -9999999999;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
  z-index: -9999999999;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  z-index: -9999999999;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
  z-index: -9999999999;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
  z-index: -9999999999;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 30px;
  height: 30px;
  animation-delay: 15s;
  animation-duration: 45s;
  z-index: -9999999999;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 16px;
  height: 16px;
  animation-delay: 2s;
  animation-duration: 35s;
  z-index: -9999999999;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
  z-index: -9999999999;
}

.circles li:nth-child(11) {
  left: 5%;
  width: 120px;
  height: 120px;
  animation-delay: 4s;
  animation-duration: 11s;
  z-index: -9999999999;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(120deg);
    opacity: 0;
    border-radius: 100%;
  }
}

/*termina background*/

.wrapper {
  position: absolute;
  margin: -171px 0 0 -327.5px;
  left: 50%;
  top: 50%;
  height: 342px;
  width: 655px;
  display: none;
}
.card__ {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/279756/2017_bg.png);
  background-size: cover;
  width: 655px;
  height: 342px;
  border-radius: 5px;
  position: absolute;
  box-shadow: -20px 30px 116px 0 rgba(92, 15, 15, 0.54);
  overflow: hidden;
  z-index: 4;
  text-align: center;
}
.card__orangeShine, .card__greenShine {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}
.card__orangeShine {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/279756/orange_shine.png);
  right: -150px;
  top: -90px;
  bottom: 50px;
  z-index: 2;
  width: 570px;
  height: 500px;
}
.card__greenShine {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/279756/green_shine.png);
  left: 20%;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 400px;
}
.card__year {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #fff;
  font-size: 60px;
  line-height: 110px;
  font-weight: 100;
  position: relative;
  z-index: 2;
}
.card__circle, .card__smallCircle {
  position: absolute;
  border-radius: 100%;
  background-image: linear-gradient(-239deg, #3b4576 0%, #242a48 59%);
  box-shadow: -10px -15px 90px 0 #191c41;
  z-index: 2;
}
.card__circle {
  right: -88px;
  bottom: 34px;
  width: 230px;
  height: 230px;
}
.card__smallCircle {
  right: 40%;
  top: -7%;
  width: 50px;
  height: 50px;
}
.card__outer-year {
  font-family: 'Orbitron';
}
.card__outer-year span {
  position: absolute;
  color: #fff;
  font-size: 16px;
  z-index: 4;
}
.card__outer-year span:nth-child(1):after, .card__outer-year span:nth-child(4):after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #fff;
}
.card__outer-year span:nth-child(1) {
  top: 35px;
  left: 35px;
}
.card__outer-year span:nth-child(2) {
  left: none;
  top: 35px;
  right: 35px;
}
.card__outer-year span:nth-child(3) {
  top: none;
  bottom: 35px;
  left: 35px;
}
.card__outer-year span:nth-child(4) {
  top: none;
  left: none;
  right: 35px;
  bottom: 35px;
}
.card__comet {
  position: relative;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 100%;
}
.card__cometOuter {
  position: absolute;
  top: 30%;
  left: 25%;
}
.card__comet--second {
  right: -30px;
  top: -15px;
  transform: scale(0.6);
}
.card__comet:before, .card__comet:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 27%, rgba(255, 255, 255, 0) 100%);
  border-radius: 20px;
  transform: rotate(-45deg);
}
.card__comet:before {
  width: 18px;
  height: 70px;
  transform-origin: -2px 13px;
}
.card__comet:after {
  width: 12px;
  height: 80px;
  transform-origin: 0px 8px;
}
.source {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
  opacity: 0.5;
  font-size: 12px;
}
.source a {
  color: #000;
}


/*botones de bootstrap*/
.btn-warning {
  font-weight: 500;
  border:2px solid  #ffc107 !important;
  background: linear-gradient(0deg, rgba(255,107,39,1) 0%, rgba(251,253,45,1) 100%);
  box-shadow: inset 1px 2px 2px 0px rgba(222, 222, 222, 0.5), 
  0px 0px 0px 0px rgba(194, 194, 194, 0.475), 10px 4px 5px 0px rgba(127, 127, 127, 0.456) !important;
  color: #fff !important;
}

.btn-warning:hover {
  font-weight: 500;
  border:2px solid  #ffc107;
  background: #fff !important;
  color: #ffc107 !important;
}

.btn-success {
  font-weight: 700;
  background-image: linear-gradient( rgb(182, 244, 146), rgb(51, 139, 147));
  color: #fff !important;
  box-shadow: inset 1px 2px 2px 0px rgba(222, 222, 222, 0.5), 
  0px 0px 0px 0px rgba(194, 194, 194, 0.475), 10px 4px 5px 0px rgba(127, 127, 127, 0.456) !important;
  
  border:2px solid rgb(62 133 84) !important;
}

.btn-success:hover {
  /*background-color: #c8d7ff !important;*/
  border: 2px solid #fff !important;
  border: 2px solid #066415 !important;
  color: #06541d !important;
  background-color: transparent !important;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #fff;
}



.btn-danger {
  border:2px solid  #dc3545;
  background: linear-gradient(0deg, rgba(195,34,126,1) 0%, rgba(253,45,49,1) 100%);
  box-shadow: inset 1px 2px 2px 0px rgba(222, 222, 222, 0.5), 
  0px 0px 0px 0px rgba(194, 194, 194, 0.475), 10px 4px 5px 0px rgba(127, 127, 127, 0.456) !important;
  font-weight: 500;
  color: #fff !important;
}

.btn-danger:hover {
  border:2px solid  #b41626;
  background: #fff;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 49, 8, 0.3),
    7px 7px 20px 0px rgba(246, 8, 4, 0.1), 4px 4px 5px 0px rgba(243, 9, 1, 0.352) !important;
  font-weight: 500;
  color: #dc3545 !important;
}

.btn-primary {
  background-color: #3f51b5;
  color: #fff ;
  border: 2px solid #3f51b5 !important;
  box-shadow: inset 1px 2px 2px 0px rgba(222, 222, 222, 0.5), 
  0px 0px 0px 0px rgba(194, 194, 194, 0.475), 10px 4px 5px 0px rgba(127, 127, 127, 0.456) !important;
  background-image: linear-gradient( #98a7ff, #3f51b5);
}


.btn-secondary {
  background-image: linear-gradient( #98a7ff, #3f51b5);
  
  box-shadow: inset 1px 2px 2px 0px rgba(185, 196, 252, 0.5),
  0px 0px 0px 0px rgba(128, 128, 239, 0.475), 10px 4px 5px 0px rgba(58, 73, 242, 0.456) !important;
  color: #fff !important;
  border: 2px solid #3f51b5;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-control{
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #fff;
}
/*boton si o no*/
.switch {
  position: absolute;
  top: 50%;
  width: 130px;
  height: 32px;
  text-align: center;
  background: #4cd964;
  transition: all 0.2s ease;
  border-radius: 5px;
  box-shadow: 6px 7px 11px #9b9b9b;
}

.switch span {
  position: absolute;
  width: 20px;
  height: 4px;
  top: 50%;
  left: 50%;
  margin: -2px 0px 0px -4px;
  background: #fff;
  display: block;
  transform: rotate(-45deg);
  transition: all 0.2s ease;
  border-radius: 2px;
}

.switch span:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 12px;
  margin-top: -8px;
  background: #fff;
  transition: all 0.2s ease;
  border-radius: 2px;
}

input[type="radio"] {
  display: none;
}

.switch label {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
  width: 60px;
  line-height: 50px;
  transition: all 0.2s ease;
}

label[for="yes"] {
  position: absolute;
  left: 0px;
  bottom: -10px;
}

label[for="no"] {
  position: absolute;
  right: 0px;
  bottom: -10px;
}

#no:checked ~ .switch {
  background: #ff3b30;
}

#no:checked ~ .switch span {
  background: #fff;
  margin-left: -8px;
}

#no:checked ~ .switch span:after {
  background: #fff;
  height: 20px;
  margin-top: -8px;
  margin-left: 8px;
}

#yes:checked ~ .switch label[for="yes"] {
  color: #fff;
}

#no:checked ~ .switch label[for="no"] {
  color: #fff;
}

.contenedor-sub {
  padding-left: 20px;
  padding-top: 3px;
  padding-left: 10px;
}

/*tabla de estados de filtro*/

.titulo-filtro {
  position: absolute;
  top: 10px;
  color: #3f51b5;
}

.botones-ocultos {
  display: none;
}

#botones {
  margin-bottom: 0px;
  margin-top: 70px !important;
}

.botones-mostrados {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 16px;
  grid-gap: 10px;
  row-gap: 10px;
  
}

.botones-estado {
  min-height: 30px;
  max-height: 30px;
}

#mostrar-vacias-sucias {
  width: 150px;
  height: 5px;
  background-color: #ceffbb !important;
  color: #0e2804 !important;
  border-left: 7px solid #a4bc92 !important;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 30px;
}

#mostrar-reservada-pendiente {
  width: 158px;
  background-color: #4d03ae;
  color: #fff;
  border-left: 5px solid #bc88ff;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 30px;
}

#mostrar-reservada-pagada {
  width: 158px;
  background-color: #6b0fe3af;
  color: #fff;
  border-left: 5px solid #4d03ae;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 30px;
}

#mostrar-disponibles {
  width: 150px;
  background-color: rgba(235, 235, 235, 0.7);
  color: #000;
  border-left: 5px solid #9b9a9a;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 30px;
}

#mostrar-ocupada-sucias {
  width: 150px;
  background-color: #bb6464;
  color: #fff;
  border-left: 5px solid #bd0202;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 30px;
}

#mostrar-ocupadas {
  width: 150px;
  background-color: #a80000fc;
  color: #fff;
  border-left: 5px solid #650208;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 30px;
}

#mostrar-vacia-limpieza {
  width: 150px;
  background-color: rgb(203, 221, 255);
  color: #0a5eff;
  border-left: 5px solid #0a5eff;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 30px;
}

#mostrar-ocupada-limpieza {
  width: 150px;
  background-color: #6398fb;
  color: #fffcfc;
  border-left: 5px solid #052d76;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 30px;
}

#mostrar-mantenimiento {
  width: 150px;
  background-color: #ffdaa2;
  color: #ff7700;
  border-left: 5px solid #fdb44d;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 30px;
}

#mostrar-uso-casa {
  width: 150px;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='0.25' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #05d1ca;
  color: #333;
  border-left: 7px solid #05d1ca;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 30px;
}

#mostrar-bloqueo {
  width: 150px;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='0.25' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #333;
  color: #fff;
  border-left: 7px solid #0b0b0b;
  border-bottom: none;
  border-right: none;
  border-top: none;
  min-height: 30px;
  max-height: 30px;
}

#mostrar-todas {
  width: 150px;
  background-color: #3f51b5;
  color: #ecf2ff;
  border: none;
  display: none;
  min-height: 30px;
  height: 30px;
}

/***************************/
/***rack operaciones***/
/***************************/

.containerRackOp {
  display: grid;
  grid-template-columns: repeat(10, minmax(180px, 1fr));
  grid-gap: 10px;
  margin: 20px;
  margin-top: 50px !important;
}

.containerRackOp .btn {
  font-size: 0.9rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 15px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  text-align: center;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
  outline: none;
  content: none;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.containerRackOp .btn:hover {
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 10px 14px #292929dd !important;
  transition: all 0.5s;
}

.containerRackOp .btn:hover a {
  font-weight: 500;
}
/*
/* Estilo del botón en modo noche *//*
body.modo-nocturno .containerRackOp .btn {
  box-shadow: 10px 5px 10px rgba(86, 58, 142, 0.491);
}*/

/* Estilo de la sombra del borde blanco del botón en modo noche *//*
body.modo-nocturno .containerRackOp .btn:focus {
  box-shadow: 0 15px 0 3px rgba(74, 40, 143, 0.205);
}*/

.context {
  display: block;
}

.context.hide {
  display: none;
}

.bloqueo {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #333 !important;
  color: #fff !important;
  border-left: 7px solid #0b0b0b !important;
  display: inline-block;
  height: auto;
  transition: 0.5s ease-out;
}

.bloqueo:hover {
  box-shadow: 0 10px 14px #090909be;
  background-color: #181818 !important;
  border-left: 7px solid #2d2d2d !important;
}

.usoCasa {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='0.25' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #05d1ca !important;

  color: #000 !important;
  border-left: 7px solid #03ada8 !important;
}

.usoCasa:hover {
  background-color: #4ee8e3 !important;
  box-shadow: 0 10px 14px #069894 !important;
  color: #000;
  border-left: 7px solid #28f6ef !important;
}

.usoCasa a {
  color: #000 !important;
}

.ocupadoH {
  background-color: #a80000fc !important;
  background: linear-gradient(
    180deg,
    #a80000fc 0%,
    rgb(253, 87, 87) 40%,
    #a80000fc 100%
  );
  color: #fff;
  border-left: 7px solid #650208 !important;
}

.ocupadoH:hover {
  background-color: rgb(209, 6, 6) !important;
  color: #fff;
}

.sucia-ocupada {
  background-color: #bb6464 !important;
  background: linear-gradient(180deg, #ed6a6a 0%, #fb9595 40%, #bc3f3f 100%);
  color: #fff !important;
  border-left: 7px solid #bd0202 !important;
}

.sucia-ocupada:hover {
  background-color: #ba2020 !important;
  border-left: 7px solid #d95d5d !important;
  box-shadow: 0 10px 14px #da5555 !important;
}

.vacia-sucia {
  background-color: #ddffbb !important;
  background: linear-gradient(180deg, #d3ffa7 0%, #e6fad2 40%, #d1faa7 100%);
  color: #0e2804 !important;
  border-left: 7px solid #a4bc92 !important;
}

.vacia-sucia:hover {
  background-color: #d3fda8 !important;
  color: #fff !important;
  border-right: 7px solid #bff1bfa1 !important;
  border-left: 0px !important;
  box-shadow: 0 10px 14px #60e96c;
}

.vacia-sucia a {
  color: #0e2804 !important;
}

.vacia-sucia a:hover {
  color: #fff !important;
}

.disponible-limpia {
  background: linear-gradient(
    180deg,
    #e9e9e9ee 0%,
    #ffffff 40%,
    rgb(170, 170, 170) 100%
  );
  color: #000 !important;
  border-left: 7px solid #9b9a9a !important;
}

.disponible-limpia:hover {
  background-color: #ebebeb !important;
  color: #000 !important;
  border-left: 7px solid rgb(195, 195, 195) !important;
  box-shadow: 0 10px 14px #9b9a9a;
}

.disponible-limpia a {
  color: #000 !important;
}

.vacia-limpia {
  background-color: rgb(203, 221, 255) !important;
  background: linear-gradient(
    180deg,
    #b4ceff 0%,
    rgb(206, 223, 255) 40%,
    #80acff 100%
  );
  color: #0a5eff !important;
  border-left: 7px solid #0a5eff !important;
}

.vacia-limpia:hover {
  background-color: rgb(160, 192, 251) !important;
  color: #0a5eff !important;
  border-left: 7px solid rgb(203, 221, 255) !important;
  box-shadow: 0 10px 14px #0a60ff9d;
}

.vacia-limpia a {
  color: #0a5eff !important;
}

.ocupada-limpieza {
  background-color: #6398fb !important;
  background: linear-gradient(180deg, #1c53ba 0%, #6398fb 40%, #082e73 100%);
  color: #fff !important;
  border-left: 7px solid #052d76 !important;
}

.ocupada-limpieza:hover {
  box-shadow: 0 10px 14px #4d8afbdd;
  background-color: #0050e5 !important;
  color: #fff !important;
  border-left: 7px solid #477ee4 !important;
  box-shadow: 0 10px 14px #6398fbdd;
}

.reserva-pagada {
  background-color: #6b0fe3af !important;
  background: linear-gradient(180deg, #be8cff 0%, #c199f6af 40%, #7439c3 100%);
  color: #000 !important;

  border-left: 7px solid #4d03ae !important;
}

.reserva-pagada:hover {
  background-color: #5901cc !important;
  color: #fff !important;
  border-left: 7px solid #cdabfa !important;
  box-shadow: 0 10px 14px #3b0286cb;
}

.reserva-pendiente {
  background-color: #3b0286 !important;
  background: linear-gradient(180deg, #4f0ba8 0%, #8c4ddf 40%, #1e0243 100%);
  color: #fff !important;
  border-left: 7px solid #bc88ff !important;
}

.reserva-pendiente:hover {
  background-color: #46145bfe !important;
  color: #fff !important;
  border-left: 7px solid #bc88ff !important;
  box-shadow: 0 10px 14px #6b0fe396;
}

.mantenimiento {
  background-color: #ffdaa2;
  background: linear-gradient(180deg, #ffbe5b 0%, #f9d7a5 40%, #ffb546 100%);
  color: #fa5f05 !important;
  border-left: 7px solid #fdb44d !important;
}

.mantenimiento:hover {
  background-color: #fdb44d !important;
  color: #fff !important;
  border-left: 7px solid #ffdaa2 !important;
  box-shadow: 0 10px 14px #fa5f05;
}

.mantenimiento a {
  color: #fa5f05 !important;
}

.btn-dark {
  background-color: #97b2f96e !important;
  border-color: #3f51b5 !important;
  color: #3f51b5 !important;
}

.btn-dark:hover {
  background-color: #97b2f9ee !important;
  border-color: #0b258c !important;
  color: #fff !important;
}

.btn-outline-warning {
  color: #ffc107 !important;
  border-color: #ffc107;
  background-color: #fdf0b778;
}

.btn-outline-warning:hover {
  color: #fff !important;
}

.btn-outline-danger {
  background-color: rgba(255, 0, 0, 0.145);
}

.btn-info {
  background-image: linear-gradient( #98a7ff, #3f51b5);
  box-shadow: inset 1px 2px 2px 0px rgba(185, 196, 252, 0.5),
  0px 0px 0px 0px rgba(128, 128, 239, 0.475), 10px 4px 5px 0px rgba(58, 73, 242, 0.456) !important;
  color: #fff !important;
  border: 2px solid #3f51b5;
}

.btn-info:hover {
  background-color: #97b2f9ee !important;
  border-color: #3f51b5 !important;
  color: #fff !important;
  
}

.modal-header {
  /*
  backdrop-filter: blur(15px);
  background-color: #c8d7ff !important;*/
  background: linear-gradient(180deg, #2d32ae 0%, #4e4ef0 50%, #171a6e 100%);
    text-align: center;
  border-color: #3f51b5 !important;
  color: #fff !important;
}

.modal-footer {
  background-color: #c8d7ff !important;
  background: linear-gradient(180deg, #2d32ae 0%, #4e4ef0 50%, #171a6e 100%);
    
  border-color: #3f51b5 !important;
  color: #3f51b5 !important;
}

.close {
  text-transform: uppercase !important;
  width: 30px !important;
  height: 30px !important;
  font-size: 18px;
  background: linear-gradient(180deg, #d6d6d6 0%, #fefefe 50%, #b3b4c3 100%);
  color: red;
  border-radius: 5px;
  border: 1px solid #3f51b5 !important;
}

.close:hover {
  width: 30px !important;
  height: 30px !important;
  background-color: #e7e5e569;
  color: red;
  border: 2px solid #3f51b5 !important;
}
/*
body {
  
  background-image: url("https://wallpapershome.com/images/wallpapers/macos-big-sur-1280x720-dark-wwdc-2020-22655.jpg");
  background-size: cover !important;
  background-position: center !important;

  background-image: linear-gradient(
      62deg,
      rgba(1, 95, 183, 0.9732216701223994) 13%,
      rgba(255, 122, 151, 0.5) 4%
    ),
    linear-gradient(
      44deg,
      rgba(0, 43, 99, 0.07922090238615942) 39%,
      rgba(242, 140, 143, 0.5) 18%
    ),
    linear-gradient(
      118deg,
      rgba(84, 202, 242, 0.03152997265339608) 40%,
      rgba(247, 155, 187, 0.5) 54%
    ),
    linear-gradient(
      58deg,
      rgba(90, 90, 237, 0.16144443572260592) 83%,
      rgba(249, 156, 142, 0.5) 23%
    ) !important;
}*/

.btn {
  color: #fff;
}

.containerRackOp .btn:after {
  position: absolute;
  content: " ";
  font-size: 4em;
  text-align: end;
  color: #ffffff4c;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #ffffff13;
  border-radius: 5px;
  box-shadow: inset 1px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.mantenimiento:after {
  position: absolute;
  content: "";
  font-size: 4em;
  text-align: end;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #f6d95670;
  border-radius: 5px;
  box-shadow: inset 1px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.ocupada-limpieza:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #0529ab70;
  border-radius: 5px;
  box-shadow: inset 1px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.containerRackOp .btn:hover {
  color: #fff;
}

.containerRackOp .btn:hover:after {
  right: auto;
  right: 0;
  width: 100%;
}

.my-input:checked + .containerRackOp .btn {
  background-color: #fff;
  color: #30349f;
  border-color: #8e97f9;
  font-weight: 500;
}

.my-input:checked + .containerRackOp .btn:after {
  right: calc(102% - 8px);
  transform: translateX(100%);
  border: 2px solid #fff;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #fff;
  transition: all 0.3s ease;
}

.terminar {
  background-color: #77a5ad !important;
  border-top-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  border: 1px solid #4795a3 !important;
  border: 1px solid #26565f;
}

.terminar:hover {
  background-color: #83b4bd !important;
  border: 1px solid #26565f;
}

.cambiar_usuario {
  background: #614739 !important;
  border: 1px solid #3c2c23;
}

.cambiar_usuario:hover {
  background: #805e4d !important;
  border: 1px solid #553e32;
}

.desocupar {
  border: 1px solid #676767 !important;
  border: 1px solid #818181 !important;
}

.desocupar:hover {
  border: 1px solid #676767 !important;
  background-color: #cccccc !important;
  color: #333;
}

.sucia {
  border: 1px solid #9cb887;
  background-color: #ddffbb !important;
  background: linear-gradient(145deg, #b8df91 0%, #ecffda 50%, #96bc71 100%);
  color: #0e2804 !important;
}

.sucia:hover {
  border-left: 0px !important;
  background-color: #d2fea6 !important;
}

.restaurante {
  background-color: #c08a58 !important;
  background: linear-gradient(145deg, #c08a58 0%, #f8ca9f 50%, #a26832 100%);
  color: #2c1a07 !important;
  border: 1px solid #634120;
}

.restaurante:hover {
  background-color: #c4874e !important;
  color: #fff !important;
  border: 1px solid #4b3832;
}

.edo_cuenta {
  background-color: #064420 !important;
  background: linear-gradient(145deg, #064420 0%, #2d804f 50%, #011c0c 100%);
  color: #e4efe7 !important;
  border: 1px solid #3d815b !important;
}

.edo_cuenta:hover {
  background-color: #0a612e !important;
  border: 1px solid #3d815b !important;
}

.select_reca {
  background-color: #8f91ee;
  background: linear-gradient(145deg, #8f91ee 0%, #acaefc 50%, #5d5fc5 100%);
  color: #fff !important;
  border: 1px solid #393ca2 !important;
}

.select_reca:hover {
  background-color: #7f81f1 !important;
}

.btn-square-lg {
  border-top-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  transition: 0.3s ease-out;
}

.btn-square-lg:hover {
  box-shadow: 0 10px 14px #292929dd;
  border-top-left-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-left: 0px;
}

.containerRackOp .btn:hover {
  transform: translateY(-5px);
  transition: 0.2s ease-out;
}

.containerRackOp .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  transition: 0.5s;
  font-size: large;
}

.containerRackOp .btn a {
  color: #fff;
  /*text-shadow:  1px 0px 0px rgb(0, 0, 0);*/
  font-weight: 400;
}

/**********************footer********************/

.containerFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 20000;
}

.rowFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 20000;
  margin-bottom: 15px;
  font-size: calc(0.4rem + 0.6vw) !important;
}
/*
.cardFooter {
   background-color: #1b1d5d;
  background-color: #3f51b5;
  background: linear-gradient(180deg, #2d32ae 0%, #4e4ef0 50%, #171a6e 100%) ;
  color: #fff !important;
  
}*/

.card-header {
  
  /* background-color: #30349f !important; */
  background-color: var(--fondo);
  /*
  background: 
  radial-gradient(18% 28% at 24% 50%,#cefAFFFF 7%,#073AFF00 100%),radial-gradient(18% 28% at 18% 71%,#fffFFF59 6%,#073AFF00 100%),radial-gradient(70% 53% at 36% 76%,#73f2FFFF 0,#073AFF00 100%),radial-gradient(42% 53% at 15% 94%,#fffFFFFF 7%,#073AFF00 100%),radial-gradient(42% 53% at 34% 72%,#fffFFFFF 7%,#073AFF00 100%),radial-gradient(18% 28% at 35% 87%,#fffFFFFF 7%,#073AFF00 100%),radial-gradient(31% 43% at 7% 98%,#fffFFFFF 24%,#073AFF00 100%),radial-gradient(21% 37% at 72% 23%,#d3fF6D9C 24%,#073AFF00 100%),radial-gradient(35% 56% at 91% 74%,#8a4FFFF5 9%,#073AFF00 100%),radial-gradient(74% 86% at 67% 38%,#6dfFAEF5 24%,#073AFF00 100%),linear-gradient(125deg,#4eb5FFFF 1%,#4c00FCFF 100%) !important;
  *//* border: 1px solid #2d31ae; */
  /* background: linear-gradient(180deg, #2d32ae 0%, #4e4ef0 50%, #171a6e 100%) ; */
  color: var(--titulos);
  /* border: 1px solid #333; */
  border-top: 3px solid var(--subtitulos);
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  
}

/*
.cardFooter{
  padding-bottom: 50px !important;
  margin: 15px;
  background-color: #30349f !important;
  color: #fff;
  position: relative;

}*/
/* Para pantallas de tamaño pequeño, menores a 576px */
@media (max-width: 575.98px) {
  .containerRackOp {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-gap: 5px;
    margin: 10px;
  }

  .containerRackOp .btn {
    position: relative;
    width: 140px;
    height: 70px;
  }

  .informacion {
    margin-top: 70px;
  }
}

/* para pantallas más pequeñas que 768px */
@media (max-width: 767px) {
  .containerRackOp {
    grid-template-columns: repeat(2, minmax(240px, 1fr));
    grid-gap: 5px;
    margin: 10px;
  }

  .containerRackOp .btn {
    position: relative;
    width: 150px;
    height: 80px;
  }
}

/* para pantallas de tamaño medio, entre 768px y 1023px */
@media (min-width: 768px) and (max-width: 1024px) {
  .containerRackOp {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 7px;
    margin: 15px;
  }

  .containerRackOp .btn {
    position: relative;
    width: 170px;
    height: 100px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .containerRackOp {
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    grid-gap: 5px;
    margin: 20px;
  }

  .containerRackOp .btn {
    position: relative;
    width: 170px;
    height: 100px;
  }
}

/* Para pantallas de tamaño grande, entre 1281px y 1600px */
@media (min-width: 1281px) and (max-width: 1600px) {
  .containerRackOp {
    grid-template-columns: repeat(7, minmax(200px, 1fr));
    grid-gap: 5px;
    margin: 25px;
  }

  .containerRackOp .btn {
    position: relative;
    width: 170px;
    height: 100px;
  }
}

/* Para pantallas de tamaño grande, entre 1281px y 100px */
@media (min-width: 1601px) and (max-width: 1800px) {
  .containerRackOp {
    grid-template-columns: repeat(8, minmax(200px, 1fr));
    grid-gap: 5px;
    margin: 25px;
  }

  .containerRackOp .btn {
    position: relative;
    width: 170px;
    height: 100px;
  }
}

@media (min-width: 1801px) {
  .containerRackOp {
    grid-template-columns: repeat(10, minmax(180px, 1fr));
    grid-gap: 5px;
    margin: 25px;
  }

  .containerRackOp .btn {
    position: relative;
    width: 170px;
    height: 100px;
  }
}
