
body {
  min-height: 100vh;
  background-color: #ecf2ff;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

a:hover{
  color: inherit;
}



span{
  cursor: pointer;
}
.submenu {
  display: none;
}



/*boton cambio de rack*/

input[type=checkbox] {
  height: 0;
  width: 0;
display: none;
}


.texto-check{
  font-size: 18px;
  text-align:left;
  margin-left: 10px;
  cursor:default;
  margin-top: 30px;
}

.form-check-label {
  cursor: pointer;
  text-indent: -9999px;
  left: 198px;
  bottom: 32px;
  width: 40px;
  height: 5px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
  align-items: center;
  text-align: center;
  border: 2px solid #8e91f9;
}
.form-check-label:after {
  content: '';
  position: absolute;
  top: -12px;
  left: -2px;
  width: 10px;
  height: 25px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
  border: 1px solid #333;
}
.form-check-input:checked + .form-check-label {
  background-color: #fff !important;

}
.form-check-input:checked + .form-check-label:after {
  left: calc(120% - 5px);
  transform: translateX(-100%);
  background-color: #8e97f9;
  border: 2px solid  #fff;
}

/******************************/
/*tamaño y ocultar la side nav*/
/******************************/
.side-navbar {
  min-width: 300px;
  height: 120%;
  position: absolute;
  margin-left: -15.7%;
  background-color: #30349f;
  transition: 0.5s;
  font-size: large;
  z-index: 9999;
}



#navbarDropdown{
  color: #fff;

}

.subitem{
  color: #ecf2ff;
  font-size: 18px;
  border: #bface2;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: medium;
}


/*informacion sobre la empresa */

.informacion{
  justify-content: center;
  text-align: center;
}
/***********************************/
/*color hover de los links dentro del nav*/
/***********************************/
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
  
}
/*********************************/
/*tiempo y posiconamiento visible*/
/*********************************/
.my-container {
  transition: 0.5s;
}

.active-nav {
  margin-left: 0;
}

.active-cont {
  margin-left: 250px;
}
/*******************************/
/*configuacion de botones color*/
/* tamaño y posicionamiento ****/
/*******************************/
.menu-btn {
  background-color: #3f51b5;
  color: #ecf2ff;
  position: absolute;
  top: 1%;
  left: 101%;
  font-size: 30px;
}


#menu-btn-fecha{
  left: 125%;
}

#menu-btn-filtrar{
  left: 150%;
}

#mostrar-botones{
  left: 175%;

}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #736bc6;

}

.my-container input {
  border-radius: 2rem;
  padding: 2px 20px;
}

.top-navbar {
  height: 0;
  visibility: hidden;
}




@media (max-width: 668px) { /* Agregamos un media query para dispositivos móviles */
  .side-navbar {
    margin-left: -53%;

  }

  .active-nav {
    margin-left: -250px; /* Cambiamos el valor de margin-left a -250px para que la barra salga de la pantalla */
  }

  .active-cont {
    margin-left: 0; /* Cambiamos el valor de margin-left a 0 para que el contenido ocupe toda la pantalla */
    width: 50px;
    left: 90%;
  }

  .menu-btn {
    left: 110%; /* Cambiamos el valor de left a 90% para que los botones estén más cerca del borde */
  }

  #menu-btn-fecha {
    left: 80%; /* Cambiamos el valor de left a 80% para que el botón de fecha esté más cerca del borde */
  }

  #menu-btn-filtrar {
    left: 130%; /* Cambiamos el valor de left a 70% para que el botón de filtrar esté más cerca del borde */
  }
  #mostrar-botones{
    left: 140%;
  }
}/*

/* Para pantallas de tamaño pequeño, menores a 576px */
@media (min-width: 426px) and (max-width: 767px) {
  .side-navbar {
    margin-left: -90%;
    width: 90%;
  }
  .active-nav {
    margin-left: 0;
  }
  .active-cont {
    margin-left: 0;
    width: 100%;
    left: 0;
  }
  .menu-btn {
    left: 100%;
  }
  #menu-btn-fecha {
    left: 85%;
  }
  #menu-btn-filtrar {
    left: 70%;
  }
  #mostrar-botones{
    left: 55%;
  }
}

/* Para pantallas de tamaño mediano, entre 576px y 991.98px */
@media (min-width: 768px) and (max-width: 991.98px) {
  .side-navbar {
    margin-left: -40%;
    width: 40%;
  }
  .active-nav {
    margin-left: 0;
  }
  .active-cont {
    margin-left: 0;
    width: 100%;
    left: 0;
  }
  .menu-btn {
    left: 100%;
  }
  #menu-btn-fecha {
    left: 120%;
  }
  #menu-btn-filtrar {
    left: 140%;
  }
  #mostrar-botones{
    left: 160%;
  }
}
@media (min-width: 992px) and (max-width: 1514px){
  .side-navbar {
    margin-left: -30%;
    width: 30%;
  }
  .active-nav {
    margin-left: 0;
  }
  .active-cont {
    margin-left: 20%;
    width: 60%;
    left: 0;
  }
  .menu-btn {
    left: 101%;
  }
  #menu-btn-fecha {
    left: 120%;
  }
  #menu-btn-filtrar {
    left: 140%;
  }
  #mostrar-botones{
  left: 160%;
}
}


/* Para pantallas de tamaño grande, entre 992px y 1980px */
@media (min-width: 1515px) and (max-width: 1825px) {
  .side-navbar {
    margin-left: -20%;
    width: 20%;
  }
  .active-nav {
    margin-left: 0;
  }
  .active-cont {
    margin-left: 20%;
    width: 60%;
    left: 0;
  }
  .menu-btn {
    left: 101%;
  }
  #menu-btn-fecha {
    left: 120%;
  }
  #menu-btn-filtrar {
    left: 140%;
  }
  #mostrar-botones{
  left: 160%;
}
}




/* Para pantallas de tamaño extra grande */
@media (min-width: 2082px)  {
  .side-navbar {
    margin-left: -23%;
    width: 23%;
  }
  .active-nav {
    margin-left: 0;
  }
  .active-cont {
    margin-left: 40%;
    width: 60%;
    left: 0;
  }
  .menu-btn {
    left: 102%;
  }
  #menu-btn-fecha {
    left: 115%;
  }
  #menu-btn-filtrar {
    left: 128%;
  }
  #mostrar-botones{
  left: 141%;
}
}