@import '../colors.css';

html{
  background:
  radial-gradient(18% 28% at 24% 50%,#cefAFFFF 7%,#073AFF00 100%),radial-gradient(18% 28% at 18% 71%,#fffFFF59 6%,#073AFF00 100%),radial-gradient(70% 53% at 36% 76%,#73f2FFFF 0,#073AFF00 100%),radial-gradient(42% 53% at 15% 94%,#fffFFFFF 7%,#073AFF00 100%),radial-gradient(42% 53% at 34% 72%,#fffFFFFF 7%,#073AFF00 100%),radial-gradient(18% 28% at 35% 87%,#fffFFFFF 7%,#073AFF00 100%),radial-gradient(31% 43% at 7% 98%,#fffFFFFF 24%,#073AFF00 100%),radial-gradient(21% 37% at 72% 23%,#d3fF6D9C 24%,#073AFF00 100%),radial-gradient(35% 56% at 91% 74%,#8a4FFFF5 9%,#073AFF00 100%),radial-gradient(74% 86% at 67% 38%,#6dfFAEF5 24%,#073AFF00 100%),linear-gradient(125deg,#4eb5FFFF 1%,#4c00FCFF 100%) !important;
  background-color: #ecf2ff;
  overflow: hidden;
  caret-color: var(--colorTextAzul);
}
body {
  min-height: 100vh;
  /* background-color: #ecf2ff; */
  background-color: var(--fondo);
  /*
  background:
  radial-gradient(18% 28% at 24% 50%,#cefAFFFF 7%,#073AFF00 100%),radial-gradient(18% 28% at 18% 71%,#fffFFF59 6%,#073AFF00 100%),radial-gradient(70% 53% at 36% 76%,#73f2FFFF 0,#073AFF00 100%),radial-gradient(42% 53% at 15% 94%,#fffFFFFF 7%,#073AFF00 100%),radial-gradient(42% 53% at 34% 72%,#fffFFFFF 7%,#073AFF00 100%),radial-gradient(18% 28% at 35% 87%,#fffFFFFF 7%,#073AFF00 100%),radial-gradient(31% 43% at 7% 98%,#fffFFFFF 24%,#073AFF00 100%),radial-gradient(21% 37% at 72% 23%,#d3fF6D9C 24%,#073AFF00 100%),radial-gradient(35% 56% at 91% 74%,#8a4FFFF5 9%,#073AFF00 100%),radial-gradient(74% 86% at 67% 38%,#6dfFAEF5 24%,#073AFF00 100%),linear-gradient(125deg,#4eb5FFFF 1%,#4c00FCFF 100%);
  */
  background-size: cover;
  background-repeat: no-repeat;
}

/* Cambiar el color de la barra de desplazamiento en navegadores WebKit */
body {
  scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
  scrollbar-color: #c21a1a #f1f1f1; /* Color de la barra de desplazamiento */
}

body::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

body::-webkit-scrollbar-thumb {
  background-color: #d61919; /* Color de la barra de desplazamiento */
}

body::-webkit-scrollbar-track {
  background-color: #ec0e0e; /* Color del fondo de la barra de desplazamiento */
}

a {
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
}

a:hover {
  color: inherit;
  color: var(--subtitulos);
}

span {
  cursor: pointer;
  color: var(--titulos);
}

.submenu {
  display: none;
}

/*checkbox*/
.form-check-label {
  width: fit-content;
  height: 29px;
  border-radius: 1px;
  display: block;
  position: relative;
  align-items: center;
  text-align: center;
  border: 2px solid #FFF;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  background: #ffffff2b; cursor: pointer;
  transition: all 0.3s ease;
 /* box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #fff; */
  outline: none;
}

.form-check-label {
  border: none;
  color: var(--subtitulos);
  font-weight: 600;
}

.form-check-label:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  /* background-color: #663dff; */
  border-radius: 5px;
  /* box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  transition: all 0.3s ease; */
}

/* .form-check-label:hover {
  color: #FFf;
} */

.form-check-label:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.form-check-input:checked+.form-check-label {
  background-color: #fff;
  /* color: #30349f; */
  border-color: #8e97f9;
  font-weight: 500;
}

.form-check-input:checked+.form-check-label:after {
  left: calc(102% - 8px);
  transform: translateX(-100%);
  border: 2px solid #fff;
  /* box-shadow:
  -7px -7px 20px 0px #fff9,
  -4px -4px 5px 0px #fff9,
  7px 7px 20px 0px #0002,
  4px 4px 5px 0px #0001; */
  transition: all 0.3s ease;
}

/*boton cambio de rack*/

.form-check-input2[type=checkbox] {
  height: 0;
  width: 0;
  display: none;
}

.texto-check {
  font-size: 18px;
  text-align: left;
  margin-left: 10px;
  cursor: default;
  margin-top: 30px;
}

.form-check-label2 {
  cursor: pointer;
  left: -26px;
  bottom: 16px;
  height: 29px;
  border-radius: 1px;
  display: block;
  position: relative;
  align-items: center;
  text-align: center;
  border: 2px solid #FFF;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  background: #ffffff2b;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.form-check-label2 {
  border: none;
  color: #fff;
}

.form-check-label2:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: var(--subtitulos);
  color: var(--fondo);
  border-radius: 5px;
  /* box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1); */
  transition: all 0.3s ease;
}

.form-check-label2:hover {
  color: #FFf;
}

.form-check-label2:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.form-check-input2:checked+.form-check-label2 {
  background-color: #fff;
  color: #30349f;
  border-color: #8e97f9;
  font-weight: 500;
}

.form-check-input2:checked+.form-check-label2:after {
  left: calc(102% - 8px);
  transform: translateX(-100%);
  border: 2px solid #fff;
  /* box-shadow:
  -7px -7px 20px 0px #fff9,
  -4px -4px 5px 0px #fff9,
  7px 7px 20px 0px #0002,
  4px 4px 5px 0px #0001; */
  transition: all 0.3s ease;
}

.contenedor-sub:hover {
  /*
  background-color: #ffffff6e;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  */
  width: 105%;
}

/******************************/
/*tamaño y ocultar la side nav*/
/******************************/
.side-navbar {
  min-width: 300px;
  height: 100vh;
  position: absolute;
  margin-left: -15.7%;
  background-color: var(--fondo);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.395);
  /* background:linear-gradient(90deg, #2d31ae 0%, #4e4ef0 50%, #1f238a 100%); */
  /*
  background: linear-gradient(90deg, #30349f 0%, #595dd5 50%, #181b63 100%);*/
  /* transition: 0.2s all ease-in; */
  font-size: large;
  z-index: 9999;
}

#navbarDropdown {
  color: #fff;
  color: var(--titulos);

}

.subitem {
  color: #ecf2ff;
  font-size: 18px;
  border: #bface2;
  border: none;
  /* border-radius: 50px; */
  cursor: pointer;
  font-size: medium;
  color: var(--parrafos);
}

/*informacion sobre la empresa */

.informacion {
  justify-content: center;
  text-align: center;
}

/***********************************/
/*color hover de los links dentro del nav*/
/***********************************/
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: var(--fondoAzul);
  color: var(--subtitulos);
}
.nav{
  flex-wrap: nowrap;
  overflow-y: auto;
  height: 95vh;
}

/*********************************/
/*tiempo y posiconamiento visible*/
/*********************************/
.my-container {
  transition: 0.5s;
}

.active-nav {
  margin-left: 0;
}

.active-cont {
  margin-left: 250px;
}

/*******************************/
/*configuacion de botones color*/
/* tamaño y posicionamiento ****/
/*******************************/
.menu-btn {
  color: #ecf2ff;
  color: var(--titulos);
  position: absolute;
  top: 1%;
  left: 102%;
  font-size: 30px;
}

.menu-btn:hover{
  /* background:radial-gradient( circle at center , #7275e4 0%, #3939c6 50%, #1b1f89 100%); */
  /* border: none !important; */
  color: var(--fondoAzul);
  background-color: var(--subtitulos);
}

#menu-btn-fecha {
  left: 125%;
}

#menu-btn-filtrar {
  left: 150%;
}

#mostrar-botones {
  left: 175%;
}

#filtro-noche{
  position: fixed;
  font-size: 28px;
  left: 91.5%;
  top: 12px;
  border-radius: 5px;
  color: #30349f;
  background: radial-gradient(circle at center,  #ffffff, #b4c9ff 70%) ;
  border: 2px solid #30349f !important;
  line-height: 1;
}

.icono-luna {
  display: inline-block;
  font-size: 1.5rem;
  transform: rotate(15deg);
}

.icono-sol {
  display: inline-block;
  font-size: 1.5rem;
  transform: rotate(-15deg);
  line-height: 1;
}

.btn-sol {
  color: #ff931f !important;
  background: radial-gradient(circle at center, #ffffff, #ff9f1a 70% ) !important;
}

#cubo{
  position: fixed ;
  font-size: 28px !important;
  left: 95.5% !important;
  top: 12px;
  color: #30349f !important;
  background: radial-gradient(circle at center,  #ffffff, #b4c9ff 70%) ;
  border: 2px solid #30349f !important;
  border-radius: 5px;
  line-height: 1;
}

/* .btn-primary:focus {
  background-color: #222226;

} */

.my-container input {
  border-radius: 2rem;
  padding: 2px 20px;
}

.top-navbar {
  height: 0;
  visibility: hidden;
}

@media (max-width: 668px) {

  /* Agregamos un media query para dispositivos móviles */
  .side-navbar {
  margin-left: -53%;
}

  .active-nav {
  margin-left: -250px;
  /* Cambiamos el valor de margin-left a -250px para que la barra salga de la pantalla */
}

  .active-cont {
  margin-left: 0;
  /* Cambiamos el valor de margin-left a 0 para que el contenido ocupe toda la pantalla */
  width: 50px;
  left: 90%;
}

  .menu-btn {
    left: 110%;
    /* Cambiamos el valor de left a 90% para que los botones estén más cerca del borde */
  }

  #menu-btn-fecha {
    left: 80%;
    /* Cambiamos el valor de left a 80% para que el botón de fecha esté más cerca del borde */
  }

  #menu-btn-filtrar {
    left: 130%;
    /* Cambiamos el valor de left a 70% para que el botón de filtrar esté más cerca del borde */
  }

  #mostrar-botones {
    left: 140%;
  }
}

/*

/* Para pantallas de tamaño pequeño, menores a 576px */
@media (min-width: 426px) and (max-width: 767px) {
  .side-navbar {
    margin-left: -90%;
    width: 90%;
  }

  .active-nav {
    margin-left: 0;
  }

  .active-cont {
    margin-left: 0;
    width: 100%;
    left: 0;
  }

  .menu-btn {
    left: 100%;
  }

  #menu-btn-fecha {
    left: 85%;
  }

  #menu-btn-filtrar {
    left: 70%;
  }

  #mostrar-botones {
    left: 55%;
  }

  #filtro-noche{
    left: 85.5%;
  }
}

/* Para pantallas de tamaño mediano, entre 576px y 991.98px */
@media (min-width: 768px) and (max-width: 991.98px) {
  .side-navbar {
    margin-left: -40%;
    width: 40%;
  }

  .active-nav {
    margin-left: 0;
  }

  .active-cont {
    margin-left: 0;
    width: 100%;
    left: 0;
  }

  .menu-btn {
    left: 100%;
  }

  #menu-btn-fecha {
    left: 120%;
  }

  #menu-btn-filtrar {
    left: 140%;
  }

  #mostrar-botones {
    left: 160%;
  }
  #filtro-noche{
    left: 85.5%;
  }
}

@media (min-width: 992px) and (max-width: 1514px) {
  .side-navbar {
    margin-left: -30%;
    width: 30%;
  }

  .active-nav {
    margin-left: 0;
  }

  .active-cont {
    margin-left: 20%;
    width: 60%;
    left: 0;
  }

  .menu-btn {
    left: 101%;
  }

  #menu-btn-fecha {
    left: 120%;
  }

  #menu-btn-filtrar {
    left: 140%;
  }

  #mostrar-botones {
    left: 160%;
  }
  #filtro-noche{
  left: 90.5%;
  }
}

/* Para pantallas de tamaño grande, entre 992px y 1980px */
@media (min-width: 1515px) and (max-width: 1825px) {
  .side-navbar {
    margin-left: -20%;
    width: 20%;
  }

  .active-nav {
    margin-left: 0;
  }

  .active-cont {
    margin-left: 20%;
    width: 60%;
    left: 0;
  }

  .menu-btn {
    left: 101%;
  }

  #menu-btn-fecha {
    left: 120%;
  }

  #menu-btn-filtrar {
    left: 140%;
  }

  #mostrar-botones {
    left: 160%;
  }
}

/* Para pantallas de tamaño extra grande */
@media (min-width: 2082px) {
  .side-navbar {
    margin-left: -23%;
    width: 23%;
  }

  .active-nav {
    margin-left: 0;
  }

  .active-cont {
    margin-left: 40%;
    width: 60%;
    left: 0;
  }

  .menu-btn {
    left: 102%;
  }

  #menu-btn-fecha {
    left: 115%;
  }

  #menu-btn-filtrar {
    left: 128%;
  }

  #mostrar-botones {
    left: 141%;
  }
}