/*tabla operativa*/
/* header y columnas */
@import '../colors.css';

.tableRack {
  table-layout: auto;
  max-height: calc(100vh - 116px) !important;
}

#tablaTotal {
  /* border: 1px solid #6a67ef !important; */
  /*6a67ef*/
}

#cal-largo {
  height: 850px;
}

.my-container {
  display: none;
}

.tableRack td,
.tableRack th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.th-dividido {
  display: flex;
  flex-direction: row;
}

.th-dividido td {
  width: 50%;
  box-sizing: border-box;
}

.half-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.half-content > div {
  height: 50%;
}

.col1 {
  width: 50%;
}

.col2 {
  width: 50%;
}

.col-span-2 {
  width: 75%;
}

.cal-dia {
  min-width: 100px; /* Ancho del TH */
  height: 40px;
}

.td-modificado {
  width: 100px; /* Ancho deseado del TD */
  margin-right: calc((200px - 100px) / 2); /* Margen derecho para centrar el TD */
}

.mes {
  background-color: #30349f;
  color: #fff;
  padding-bottom: 25px;
  margin-top: 33px;
}

.headTable {
  display: contents;
  padding-bottom: 25px;
  padding-top: 50px;
  margin-right: -15px;
}

#btn-mes {
  font-size: 25px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  padding: 0;
  border: none;
  background: none;
  color: #fff;
}

.tableRack th:first-child {
  position: sticky !important;
  left: 0;
  z-index: 1030;
}

.tableRack td:first-child {
  position: sticky !important;
  left: 0;
  z-index: 1010;
}

.tableRack thead>th {
  position: sticky !important;
  top: 0;
  z-index: 1040;
  text-align: center;
}

.tableRack td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
  -moz-box-shadow: 0 2px 2px -2px #0E1119;
  box-shadow: 0 2px 2px -2px #0E1119;
  background: var(--fondo) !important;
}

.tableRack th {
  /* background: linear-gradient(180deg, #b3b3fe 0%, #ecf2ff 50%, rgb(182, 194, 253) 100%); */
  background-color: var(--fondoCeldas);
  color: var(--titulos);
}

.tableRack th:hover {
  background-color: var(--subtitulos);
  color: var(--fondo);
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: line;
}

.tableRack td:first-child {
  color: var(--titulos);
  /* background: linear-gradient(85deg, #97a2f9ee 0%, #ecf2ff 50%, rgb(182, 194, 253) 100%) !important; */
  background-color: var(--fondoCeldas) !important;
}
.tableRack td:first-child:hover {
  color: white;
  /* background: linear-gradient(85deg, #97a2f9ee 0%, #ecf2ff 50%, rgb(182, 194, 253) 100%) !important; */
  background-color: var(--subtitulos) !important;
}
.tableRack tr:hover {
  /* background: linear-gradient(180deg, #c3cafdee 0%, #ecf2ff 40%, rgb(179, 190, 252) 100%); */
  /* background: red !important; */
  /* -webkit-box-shadow: 0 6px 6px -6px #0E1119;
  -moz-box-shadow: 0 6px 6px -6px #0E1119;
  box-shadow: 0 6px 6px -6px #0E1119; */
}
.tableRack td:hover {
  /* background: linear-gradient(180deg, #c3cafdee 0%, #ecf2ff 40%, rgb(179, 190, 252) 100%); */
  color: #30349f;
  box-shadow: #adadfe9e -1px 1px, #adadfe9e -2px 2px, #adadfe9e -3px 3px, #adadfe9e -4px 4px, #adadfe9e -5px 5px, #adadfe9e -6px 6px;
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

.tableRack th:hover + tr td {
  background: linear-gradient(180deg, #c3cafdee 0%, #ecf2ff 40%, rgb(179, 190, 252) 100%);
  color: #30349f;
  box-shadow: #adadfe9e -1px 1px, #adadfe9e -2px 2px, #adadfe9e -3px 3px, #adadfe9e -4px 4px, #adadfe9e -5px 5px, #adadfe9e -6px 6px;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: line;
}
/*dividir la celda en 2*/
.celdaCompleta {
  width: 50%;
  position: relative;
}
.medioDia {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.cajaHerramienta{
  display: inline-block;
  vertical-align: top;
  width: 50%;
  background-color: transparent;
}

/*---------calendario------*/
.cal-container {
  max-width: 900px;
  max-height: 450px;
  overflow: auto;
  margin: auto;
}

.cal-table {
  position: relative;
  border: solid #ebebeb;
  border-width: 0 1px 0 0;
  overscroll-behavior: contain;
}

.cal-thead {
  top: 0px;
  background-color: #ecf2ff;
  position: sticky;
  z-index: 1010;
}

.cal-viewmonth {
  font-size: 16px;
  width: 150px;
  height: 50px;
}

.cal-toprow {
  width: 182px;
  min-width: 182px;
  color: #333;
  background-color: #ebebeb !important;
  border: 1px solid #ebebeb !important;
}

.cal-viewmonth,
.cal-toprow {
  font-weight: 700 !important;
  text-align: center;
  vertical-align: middle !important;
}

.cal-userinfo {
  /* height: 80px; */
  box-shadow: 20px 0 50px rgba(0, 0, 0, 0.05);
  padding-top: 50px;
}

.cal-tbody .cal-userinfo {
  min-width: 150px !important;
  text-align: center;
  color: rgb(57, 57, 57);
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.03em;
  background: #ecf2ff;
  padding: 0.3em;
}

.cal-usersheader {
  height: 20px;
  box-shadow: 20px 0 50px rgba(0, 0, 0, 0.05);
  min-width: 150px !important;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.03em;
  padding: 0.3em;
}

.cal-userbadge {
  border-radius: 0;
  font-weight: 600;
  font-size: 11px;
}

/* ------------task de estado de habitacion -------*/

.task {
  padding: 8px 6px;
  font-size: 14px;
  position: relative;
  min-width: 9em;
  min-height: 3.5em;
  max-height: 4em;
  text-align: left !important;
}
/* .expirar {
  box-shadow: 1px;
} */

.task--bloqueado {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #333;
  border-left: 7px solid #0b0b0b;
  color: #fff;
}

.task--bloqueado:hover {
  background-color: rgba(235, 235, 235, 0.7) !important;
  color: #000 !important;
  border-left: 7px solid #9b9a9a !important;
  box-shadow: 0 10px 14px #9b9a9a;
}

.task--uso-casa {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='0.5' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  border-left: 7px solid #05d1ca;
  background-color: #05d1ca;
  grid-row: 8;
}

.task--uso-casa:hover {
  background-color: #05d1ca79;
  box-shadow: 0 10px 14px #05d1ca8b;
}

.task--mantenimiento {
  border-left: 7px solid var(--colorTextNaranja);
  background: var(--fondoNaranja);
  /* background: linear-gradient(180deg, #ffbe5b 0%, #f9d7a5 40%, #ffb546 100%); */
  /* min-width: 200px; */
  color: var(----colorTextNaranja);
}

.task--mantenimiento:hover {
  background-color: #fdb44d !important;
  color: #ff7700 !important;
  /* border-left: 7px solid #ffdaa2 !important; */
  box-shadow: 0 10px 14px #ff7700c9;
  box-shadow: 0 10px 14px #fdb44d84;
}

.task--ocupada-sucia {
  border-left: 7px solid #bd0202;
  /*aqui puedes seleccioanr donde y con span cuanto espacio requiere */
  grid-column: 2 / span 2;
  grid-row: 7;
  background: #BB6464;
  /* background: linear-gradient(180deg, #ed6a6a 0%, #fb9595 40%, #bc3f3f 100%); */
  align-self: end;
  color: var(--fondoRojo);
}

.task--ocupada-sucia:hover {
  /* background-color: #bd0202e8 !important; */
  color: #fff !important;
  border-left: 7px solid #bb6464 !important;
}

.task--ocupadoH {
  background-color: #b12e3b;
  /* background: linear-gradient(180deg, #a80000fc 0%, rgb(253, 87, 87) 40%, #a80000fc 100%); */
  color: #fff;
  border-left: 7px solid var(--colorTextRojo);
  background-color: var(--fondoRojo);
  color: var(--colorTextRojo);
  /* box-shadow: var(--sombra); */
}

.task--ocupadoH:hover {
  /* background-color: #9f0404fb !important; */
  color: #fff;
  /* box-shadow: 0 10px 14px #780202af; */
}

.task--vacia-sucia {
  border-left: 7px solid var(--colorTextVerde);
  background: var(--fondoVerde);
  /* background: linear-gradient(180deg, #b9ed84 0%, #d6f6b5 40%, #98cb62 100%); */
  align-self: end;
  color: var(--colorTextVerde);
}

.task--vacia-sucia:hover {
  background-color: #81e389 !important;
  color: #fff !important;
  border-left: 7px solid #bff1bfa1 !important;
  box-shadow: 0 10px 14px #35da435d;
}

.task--disponible-limpia {
  border-left: 7px solid #9b9a9a;
  background: #e5e4e4;
  /* background: linear-gradient(180deg, #e9e9e9ee 0%, #ffffff 40%, rgb(170, 170, 170) 100%); */
  background-color: var(--fondoGris);
  box-shadow: var(--sombra);
  color: var(--titulos);
}

.task--disponible-limpia:hover {
  background-color: rgba(235, 235, 235, 0.7) !important;
  color: #000 !important;
  border-left: 7px solid #9b9a9a !important;
  /* box-shadow: 0 10px 14px #9b9a9a; */
}

.task--disponible-limpia a {
  color: #000 !important;
}

.task--reserva-pagada {
  border-left: 7px solid #4d03ae;
  /*aqui puedes seleccioanr donde y con span cuanto espacio requiere 
  grid-column: 2 / span 2;
  grid-row: 10;*/
  background: #6b0fe3af;
  /* background: linear-gradient(180deg, #be8cff 0%, #c199f6af 40%, #7439c3 100%); */
  color: #ffffff;
}

.task--reserva-pagada:hover {
  background-color: #6b0fe3af !important;
  color: #fff !important;
  border-left: 7px solid #4d03ae !important;
  /* box-shadow: 0 10px 14px #6b0fe396; */
}

.task--reserva-pendiente-pago {
  border-left: 7px solid #bc88ff;
  /*aqui puedes seleccioanr donde y con span cuanto espacio requiere */
  grid-column: 2 / span 2;
  grid-row: 11;
  background: #3b0286;
  /* background: linear-gradient(180deg, #4f0ba8 0%, #8c4ddf 40%, #1e0243 100%); */
  color: #FFF;
}

.task--reserva-pendiente-pago:hover {
  background-color: #3b0286 !important;
  color: #fff !important;
  border-left: 7px solid #3b0286 !important;
  /* box-shadow: 0 10px 14px #3b0286cb; */
}
#yo:hover ~  #hh {color: yellow; }

.task--limpieza-vacia {
  border-left: 7px solid #4786ff;
  background: rgb(205, 222, 252);
  /* background: linear-gradient(180deg, #b4ceff 0%, rgb(206, 223, 255) 40%, #80acff 100%); */
  color: #0a5eff;
}

.task--limpieza-vacia:hover {
  box-shadow: 0 10px 14px #4787ff8d;
  /* border-left: 7px solid #1260f0; */
  border-left: 7px solid var(--colorTextAzul);
}

.task--limpieza-vacia a {
  color: #0a5eff !important;
}

.task--limpieza-ocupada {
  border-left: 7px solid #052d76;
  background: var(--fondoAzul);
  /* background: linear-gradient(180deg, #1c53ba 0%, #6398fb 40%, #0b3c96 100%); */
  align-self: end;
  /* color: #fff; */
  color: var(--colorTextAzul);
  box-shadow: var(--sombra);
}

.task--limpieza-ocupada:hover {
  /* background-color: #052d76 !important; */
  color: #fff !important;
  border-left: 7px solid #6398fb !important;
  /* box-shadow: 0 10px 14px #6398fbdd; */
}

.task--transparente{
  border-left-width: 3px;
  padding: 8px 6px;
  border-left-style: solid;
  font-size: 14px;
  position: relative;
  min-width: 9em;
  min-height: 4em;
  max-height: 4em;
  background-color: transparent !important;
  color: transparent !important;
  border-left: 7px solid transparent !important;
}

.task__detail {
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  background: #fff;
  border: 1px solid rgba(166, 168, 179, 0.2);
  color: #000;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  z-index: 2;
}

/*esta e sla animacion para mostrar el nombre del huesped*/
.task:after {
  position: absolute;
  content: "Nombre Huesped";
  text-align: left;
  padding-left: 5px;
  color: #000;
  width: 0;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 1;
  background:#fff;
  box-shadow: inset 1px 2px 2px 0px rgba(255, 255, 255, .5),
  7px 7px 20px 0px rgba(0, 0, 0, .1),
  4px 4px 5px 0px rgba(0, 0, 0, .1);
  transition: all 0.5s ease;
  border-radius: 3px;
}

.elhover {
  background:#fff;
  box-shadow: inset 1px 2px 2px 0px rgba(255, 255, 255, .5),
  7px 7px 20px 0px rgba(0, 0, 0, .1),
  4px 4px 5px 0px rgba(0, 0, 0, .1);
  transition: all 0.5s ease;
  border-radius: 3px;
}

.task:hover {
  color: #FFf;
}

.task:hover:after {
  right: auto;
  right: 0;
  width: 100%;
}

.my-input:checked+.task {
  background-color: #fff;
  color: #30349f;
  border-color: #8e97f9;
  font-weight: 500;
}

.my-input:checked+.task:after {
  right: calc(102% - 8px);
  transform: translateX(100%);
  border: 2px solid #fff;
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}

.task:hover:after {
  opacity: 1;
}

/* -----------agregar estados 2 estados en el mismo dia---------*/

/*para agregar un estado donde el estado anterior y el siguiente inician el mismo dia */
.task-container {
  display: flex;
}

/*se agrega la clase ajuste al estado que se necesita ajustar*/
.ajuste {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  /*el ajuste es 75% por cada dia que la tarea estara*/
}

.ajuste1 {
  display: inline-block;
  vertical-align: top;
  width: 10%;
  /*el ajuste es 75% por cada dia que la tarea estara*/
}
.ajuste2 {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  /*el ajuste es 75% por cada dia que la tarea estara*/
}

.ajuste3 {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  /*el ajuste es 75% por cada dia que la tarea estara*/
}

.ajuste4 {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  /*el ajuste es 75% por cada dia que la tarea estara*/
}
.ajuste5 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  /*el ajuste es 75% por cada dia que la tarea estara*/
}
.ajuste6 {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  /*el ajuste es 75% por cada dia que la tarea estara*/
}
.ajuste7 {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  /*el ajuste es 75% por cada dia que la tarea estara*/
}

.ajuste8{
  display: inline-block;
  vertical-align: top;
  width: 80%;
}

.ajusteDias {
  display: inline-block;
  width: calc(100% - 1px);
  /* un ejemplo donde estara 2 dias para 3 dias seria agregar otro 75% y asi sucesivamente */
}


