
.aside_nav_container{
    background-color: #FAFAFA;
    height: 100%;
    width: 5.375rem;
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 150;
    top: 0;
    left: 0;
}
/* .aside_nav_container:hover {
    width: 20rem;
    transition: all ease-in-out 0.2s;
    background-color: #fafafa6b;
    backdrop-filter: blur(20px);
} */
.aside_nav_container_open {
    width: 17rem;
    /* transition: all ease 0.08s; */
    background-color: #fafafa6b;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.aside_nav_logo {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    cursor: pointer;
    overflow: hidden;
}
.aside_nav_username {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin-bottom: 15px;
    font-weight: 600;
}
.aside_nav_username p {
    margin: 0;
}
.aside_nav_menu_hamburger {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    text-align: center;
}

.aside_nav_menu_switch_container{
    display: none;
}
.aside_nav_menu_switch_container_show {
    display: flex;
}
.switch_input_rack {
    display: none;
}
.aside_menu_hamburger {
    width: 2.15rem;
    cursor: pointer;
}
.aside_menu_hamburger:active {
    scale: 0.8;
    transition: all 0.1s ease-in-out;
}
.aside_nav_logo_link{
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    color: black;
    margin: inherit;
}
.aside_nav_divider{
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,.1);
    margin: 0.5rem auto;
}
.aside_nav_logos {
    text-decoration: none;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    min-height: 6rem;
}
.aside_nav_logo_img {
    margin: auto;
    width: 4.375rem;
    padding: 0 1rem;
    margin-left: 5px;
    filter: invert(1);
}
.aside_nav_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
    overflow-y: auto;
    height: 100%;
}
.aside_nav_link_container {
    width: 95%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
}
.aside_nav_link_containerMore {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}
.aside_nav_link_containerInfo{
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.space_around {
    justify-content: space-between;
}
.aside_nav_link_containerInfo_links{
    display: none;
}
.aside_nav_link_containerInfo_links ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
}
.aside_nav_link_container:hover {
    background-color: #0095ff0c;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all ease-in-out 0.2s;
}
.aside_nav_link_containerMore:hover {
    background-color: #0095ff13;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all ease-in-out 0.2s;
}
.aside_nav_link {
    width: 1.8rem;
    min-width: 1.5rem;
    cursor: pointer;
    opacity: 0.8;
    /* margin: auto; */
}
/* .aside_nav_container:hover .aside_nav_link_text {
    display: block;
} */

.aside_nav_link_text {
    display: none;
    margin: 0;
}
.aside_nav_link_show {
    display: block;
}
.aside_nav_links_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aside_ruta {
    padding: 4px 2px;
    animation: slideInFronLeft 0.1s ease-out;
}
@keyframes slideInFronLeft {
    0% {
        opacity: 0;
        transform: translate(-50%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
.aside_ruta:hover {
    background-color: #0177cc15;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all ease-in-out 0.2s;
}

.aside_nav_contain2er:not(:hover) .aside_nav_link_containerInfo_links {
    display: none;
}
.aside_nav_contain2er:not(:hover) .aside_nav_link_containerInfo_links {
    display: none;
}
.ocultarMenus{
    display: block;
}

.aside_btn_salir {
    margin-top: auto;
    transition: all 0.2s ease-in-out;
}
.aside_btn_salir:hover {
    background-color: #FFE2DD;
    color: #E16F64;
}
.expire_message {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1000000000000000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa6b;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.expire_message_img{
    width: 100%;
    max-width: 80px;
    filter: invert(1);
}
.expire_message_text {
    max-width: 600px;
    font-size: 2rem;
}
.hide_arow {
    opacity: 0;
}

@media only screen and (max-width: 600px){
    .aside_nav_container {
        width: 100%;
        height: 7vh;
        flex-direction: row;
        overflow: hidden;
        flex-wrap: wrap;
        padding-top: 0;
        border-bottom: 1px solid #0000004f;
    }
    .aside_nav_divider {
        display: none;
    }
    .aside_nav_logo {
        width: 40%;
        height: 7vh;
    }
    .aside_nav_logos {
        min-height: 3rem;
        gap: 0;
    }
    .aside_nav_menu_hamburger {
        height: 7vh;
        width: 60%;
        flex-direction: row-reverse;
        justify-content: flex-start;
        gap: 15px;
    }
    .aside_menu_hamburger{
        margin-right: 5px;
    }
    .aside_nav_container_open {
        width: 100%;
        height: 100%;
    }
    .aside_btn_salir {
        margin: inherit;
    }
}