/* paleta de colores  */

:root{
    --titulos: #344050;
    --subtitulos: #2C8FEB;
    --parrafos: #5e6e82;
    --fondo: #EDF2F9;
    --fondoAzul: #E6EFFC;
    --fondoCeldas: #D8E2EF;
    --fondoNaranja: #FEF0E8;
    --fondoVerde: #E0FAEF;
    --fondoGris: #F9FAFD;
    --fondoRojo: #FCE7EB;
    --colorTextAzul: #1862C6;
    --colorTextRojo: #D01A3B;
    --colorTextVerde: #009F5C;
    --sombra: 7px 10px 17px -8px rgba(0,0,0,0.1);;
}