.estado0{
 background-color: #3d4249;
 color: #8a93a0;
 padding: 0em 0px 0px 10px;
 border-radius: 10px;
}
.estado0:hover{
 background-color: #67707c;
 color: #8a93a0;
 padding: 0em 0px 0px 10px;
 border-radius: 10px;
}