.estado2{
 background-color: #273f31;
 color: #7e9b8b;
 padding: 0em 0px 0px 10px;
 border-radius: 10px;
}
.estado2:hover{
 background-color: #326949;
 color: #7e9b8b;
 padding: 0em 0px 0px 10px;
 border-radius: 10px;
}