.estado1{
 background-color:#152679;
 color:#8197d9;
 padding: 0em 10px 0px 10px;
 border-radius: 10px;
}
.estado1:hover{
 background-color:#2f75c1;
 color:#8197d9;
 padding: 0em 10px 0px 10px;
 border-radius: 10px;
}