.estado4{
 background-color:#cfcf5bb0;
 color: #f6f6bfc7;
 padding: 0em 0px 0px 10px;
 border-radius: 10px;
}
.estado4:hover{
 background-color:#cece55e5;
 color: #f6f6bfc7;
 padding: 0em 0px 0px 10px;
 border-radius: 10px;
}