.estado0{
 background-color:#67707c;
 color:#c5cedd;
 padding: 0em 10px 0px 10px;
 border-radius: 10px;
}
.estado0:hover{
 background-color:#8d97a5;
 color:#c5cedd;
 padding: 0em 10px 0px 10px;
 border-radius: 10px;
}