.estado0{
 background-color: #08291a;
 color: #75b798;
 padding: 0em 0px 0px 10px;
 border-radius: 10px;
}
.estado0:hover{
 background-color: #0f5132;
 color: #75b798;
 padding: 0em 0px 0px 10px;
 border-radius: 10px;
}