.estado1{
 background-color:rgb(109, 38, 38, 1);
 color:#dd9292;
 padding: 0em 0px 0px 10px;
 border-radius: 10px 10px 100px 10px;
}
.estado1:hover{
 background-color:rgb(168, 93, 93, 1);
 color:#dd9292;
 padding: 0em 0px 0px 10px;
 border-radius: 10px 10px 100px 10px;
}