.estado6{
    background-color:#5f496edc;
    color: #b69ec5ea;
    padding: 0em 0px 0px 10px;
    border-radius: 10px;
}
.estado6:hover{
    background-color:#9d6e9ee5;
    color: #b69ec5ea;
    padding: 0em 0px 0px 10px;
    border-radius: 10px;
}