/* El menú de navegación lateral */
.sidenav {
  height: 100%; /* 100% altura */
  width: 0%; /* 0 ancho - cambiar esto con JavaScript */
  position: fixed; /* Permanecer en su lugar */
  z-index: 1; /* Permanecer en la cima */
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Coloque el contenido a 60 px de la parte superior */
  transition: 0.5s; /* 0.5 segundo efecto de transición para deslizar la sidenav */
}

/* Los enlaces del menú de navegación(links) */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* Cuando pasas el mouse sobre los enlaces de navegación, cambia su color */
.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

/* Coloque y aplique estilo al botón de cierre (esquina superior derecha) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Estilo del contenido de la página: utilícelo si desea empujar el contenido de la página hacia la derecha cuando abre la navegación lateral */
#main {
  transition: margin-left .5s;
  padding: 20px;
  overflow:hidden;
  width:100%;
}

body {
overflow-x: hidden;
background-color: rgb(241, 240, 241);
}

/* Agregue un color de fondo negro a la navegación superior */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Aplicar estilo a los enlaces dentro de la barra de navegación */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Cambiar el color de los enlaces al pasar el mouse */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Agregue un color al enlace activo / actual*/
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Estilos fuera de sidebar - abajo */
.nav-link[data-toggle].collapsed:after {
  content: " ▾";
}

/* Estilos fuera de sidebar - arriba */
.nav-link[data-toggle]:not(.collapsed):after {
  content: " ▴";
}

/* Color para tabla de encabezado */
.table-primary-encabezado {
  color: white;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bolder;
  background-color: rgb(90, 145, 235);
  border-top-style: none;
}

/* Color en las letras del boton */
.btn{
  color:white;
 }

 /* Contenedor con fondo blanco y bordes */
.blanco{
  padding: 25px 25px;
  background-color: white;
}

/* Margen de uno en escritura */
.margen-1{
  margin-bottom: 40px;
}

/* Color en los iconos svg */
.svg-color
{
  fill: rgb(185, 185, 185);
}

/* Mostrar u ocultar los datos de un huesped en una reservacion */
.form_oculto{
  display:none;
}
