/* El menú de navegación lateral */
.sidenav {
  height: 100%; /* 100% altura */
  width: 0%; /* 0 ancho - cambiar esto con JavaScript */
  position: fixed; /* Permanecer en su lugar */
  z-index: 1; /* Permanecer en la cima */
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Coloque el contenido a 60 px de la parte superior */
  transition: 0.5s; /* 0.5 segundo efecto de transición para deslizar la sidenav */
}

/* Los enlaces del menú de navegación(links) */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #3B83BD;
  display: block;
  transition: 0.3s
}

/* Cuando pasas el mouse sobre los enlaces de navegación, cambia su color */
.sidenav a:hover, .offcanvas a:focus{
  color: #94ccfa;
  /*background-color: #4882b4;*/
}

/* Coloque y aplique estilo al botón de cierre (esquina superior derecha) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#icono_sidenav{/* color del icono de sidenav*/
  fill:#3B83BD;
}

/* Estilo del contenido de la página: utilícelo si desea empujar el contenido de la página hacia la derecha cuando abre la navegación lateral */
#main {
  transition: margin-left .5s;
  padding: 10px;
  overflow:hidden;
  width:100%;
}

/*body {/* Body info*/
/*overflow-x: hidden; 
 background-color: #14040B;
}*/

/* Agregue un color de fondo negro a la navegación superior */
/*.topnav {
  background-color: #242C34;
  overflow: hidden;
}*/

/* Aplicar estilo a los enlaces dentro de la barra de navegación */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Cambiar el color de los enlaces al pasar el mouse */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Agregue un color al enlace activo / actual*/
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Estilos fuera de sidebar - abajo */
.nav-link[data-toggle].collapsed:after {
  content: " ▾";
}

/* Estilos fuera de sidebar - arriba */
.nav-link[data-toggle]:not(.collapsed):after {
  content: " ▴";
}

/* Color para tabla de encabezado primary **/
.table-primary-encabezado{
  color: white;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bolder;
  background-color: rgb(90, 145, 235);
  border-top-style: none;
}

/* Color para tabla de encabezado info **/
.table-info-encabezado{
  color: white;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bolder;
  background-color: rgb(11, 168, 103);
  border-top-style: none;
}

/* Cambia el tamaño de la fuente a uno menor del estandar **/
.fuente_menor{
  font-size: 13px;
}

/* Cambia el tamaño de la fuente a uno menor del estandar **/
.fuente_menor_bolder{
  font-size: 13px;
  font-weight: bolder;
}

/* Color en las letras del boton */
.btn{
  color:white;
}

/* Contenedor con fondo blanco y bordes */
 .blanco{
  padding: 25px 25px;
  background-color: white;
}

/* Contenedor con fondo blanco y margen */
.blanco_margen{
  padding: 35px 35px;
  margin-bottom:30px;
  margin-top:30px;
  margin-left:45px;
  border:3px solid rgb(98, 4, 4);
}

/* Margen de uno en escritura */
.margen-1{
  margin-bottom: 40px;
}

/* Margen de dos en escritura */
.margen-2{
  margin-bottom: 80px;
}

/* Color en los iconos svg */
.svg-color{
  fill: rgb(185, 185, 185);
}

/* Mostrar u ocultar los datos de un huesped en una reservacion */
.rapida{
  background-color: #222;
  color: white;
  font-size: 1.2em;
}
.mgrande{
  font-size: 1.2em;;
}
.texto_entrada{
  color: white;
}
a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none!important;
}
a.forumtitle {
  text-decoration: none;
}
a.forumtitle:hover {
  text-decoration: none!important;
}
a.topictitle {
  text-decoration: none;
}
a.topictitle:hover {
  text-decoration: none!important;
}
.color_black{
  color: black;
}
.fondo_rest{
  /*background-color: #E9E9E9;*/
  background-color: white;
  border-radius: 5px;
}
.alinear_centro{
  /*color: white;*/
  background-color: #E9E9E9;
  text-align: center;
  border-radius: 5px;
  padding: 10px 0px 3px 0px;
}
.alinear_izq{
  /*color: white;*/
  background-color: #E9E9E9;
  text-align: left;
  border-radius: 0px;
  padding: 0px 0px 0px 0px;
}
.encabezado_gris {
  background-color: #E9E9E9;
  border-radius: 5px;
}
.espacio{/* */
  width: 155px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 110px !important;
  font-size:14px;
}
.btn-herramientas{/* */
  margin-bottom: 1em;
  font-size:13px;
}
.titulo_hab{/* estado */
  width: 100%;
  text-align: left;
  font-weight: bold;
  padding-top: 8px;
  color: white;
}
.imagen_hab{/* numero */
  width:100%;
  text-align: right;
  height:2.1em;
  vertical-align:middle;
  padding-right: 15px;
  color: white;
}
.tama_num_hab{/* */
  font-size: 1.8em;
}
.pie{
  font-size: .7em;
}
.card{
  font-size: .7em;
  max-width: 100% !important;
  max-height: 100% !important;
  padding: 0em 0px 0px 0px;
}
.fondo_dark{
  background-color: #111; 
  color: white;
}
.fondo_gris{
  background-color: #3d4249;
  color: white;
}
.timepo_hab{/* fecha */
  width: 100%;
  text-align: left;
  font-size: .9em;
  /*font-weight: bold;*/
}
/*.sub_estado_sin{
  background-color:rgb(109, 38, 38, 1);
  padding: 0em 0px 0px 0px;
  border-radius: 10px;
}
.sub_estado_sucia{
  background-color:#095314a6;
  padding: 0em 0px 0px 0px;
  border-radius: 10px;
}
.sub_estado_limpieza{
  background-color:#2214e4a6;
  padding: 0em 0px 0px 0px;
  border-radius: 10px;
}*/
.icono_hab{/* icono */
  width:100%;
  text-align: right;
  font-size: .9em;
  color: white;
  padding: 0em 0px 0px 0px;
}
#icono_r{/* icono medidas*/
  width: 24px;
  height: 16px;
}
#icono_c{/* icono medidas*/
  width: 18px;
  height: 18px;
}
.asignar_reca{
  text-align: left;
  background-color: #C0C0C0;
  font-size: 1.2em;
  color: white;
}
.asignar_reca:hover{
  background-color: #B2B2B2;
  color: white;
}
.Alin-center{
  text-align: center;
}
.boton-rest{
  margin-top: .5em;
  padding-left: .2em;
}
.boton_restaurante{
  margin-top: .5em;
  font-size: 2em;
  line-height:normal;
}
.altura-rest{/* */
  height: 45em;
  overflow-x: scroll;
}
.altura-rest_categorias{/* */
  height: 19.6em;
  overflow-y: scroll;
}
.altura-rest_productos{/* */
  height: 42.6em;
  overflow-y: scroll;
}
.altura-rest_pedido{/* */
  height: 60.3em;
  overflow-y: scroll;
}
.altura_comanda{
  height: 62.2em;
  overflow-x: scroll;
}
.btn-square-md-rest{/* */
  background-color: #71db94;
  width: 80px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 80px !important;
  text-align: center;
  padding: 0px;
  font-size:12px;
}
.btn-square-md{/* */
  width: 80px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 80px !important;
  text-align: center;
  padding: 0px;
  font-size:12px;
}
.btn-square-lg{/* */
  width: 100px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100px !important;
  text-align: center;
  padding-top: 12px;
  font-size:12px;
  border-radius: 10px;
}
.btn-square-xl{/* */
  width: 120px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 120px !important;
  text-align: center;
  padding-top: 0px;
  font-size:12px;
}
.btn-rectangle-sm{/* */
  width: 100px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 50px !important;
  text-align: center;
  padding: 0px;
  font-size:13px;
}
.altura{
  text-align: center;
  font-size: 1,3em;
  border:black 5px solid;
}
.alin_center_white{
  text-align: center;
  color: white;
  font-size: 1.8em;
}
.asignar_reca_activa{
  text-align: center;
  background-color: green;
  font-size: 1.2em;
  color: white;
}
.asignar_reca_activa:hover{
  text-align: center;
  background-color: rgb(30, 172, 30);
  font-size: 1.2em;
  color: white;
}
.infor_asig_reca{
  font-size: .8em;
}
.bloqueo{
  text-align: center;
  background-color: #B5D176;
  font-size: 1.2em;
  color: white;
}
.mantenimiento{
  text-align: center;
  background-color: #8d8d31ef;
  font-size: 1.2em;
  color: white;
}
.supervision{
  text-align: center;
  background-color: rgba(27, 79, 109, 0.849);
  font-size: 1.2em;
  color: white;
}
.cancelada{
  text-align: center;
  background-color: #5c456bea;
  font-size: 1.2em;
  color: white;
}
.lavar{
  text-align: center;
  background-color: #3C91E6;
  font-size: 1.2em;
  color: white;
}
.detallar{
  text-align: center;
  background-color: #D0E369;
  font-size: 1.2em;
  color: white;
}
.edo_cuenta{/* */
  text-align: center;
  background-color: #6b1f18e8;
  font-size: 1.2em;
  color: white;
}
.cortina{
  text-align: center;
  background-color: #FF30C0; 
  font-size: 1.2em;
  color: white;
}
.hab_cambiar{/*  */
  text-align: center;
  background-color: green;
  font-size: 1.2em;
  color: white;
}
.limpiar{
  text-align: center;
  background-color: #A98743;
  font-size: 1.2em;
  color: white;
}
.mostrarresta{
  overflow: auto;
}
.asignar{
  text-align: center;
  background-color:#28C9C6; ;
  font-size: 1.2em;
  color: white;
}
.placas{
  text-align: center;
  background-color: #02CCCF;
  font-size: 1.2em;
  color: white;
}
.desocupar{/* */
  /*#5c646e;*/
  text-align: center;
  background-color: #9F9F9F;
  /*background-color: #242C34*/
  font-size: 1.2em;
  color: white;
}
.terminar{/*#1E487A; #337C99; */
  text-align: center;
  background-color: #77A2AD;
  /*background-color: #242C34*/
  font-size: 1.2em;
  color: white;
}
.ocupada{/* */
  text-align: center;
  background-color: #6b1f18e8;
  font-size: 1.2em;
  color: white;
}
.cambiar_usuario{
  text-align: center;
  background-color: #776A63;
  font-size: 1.2em;
  color: white;
}
.reporte{
  text-align: center;
  background-color: #d33628;
  font-size: 1.2em;
  color:#eb958d;
}
.personas{
  text-align: center;
  background-color: #337C99;
  font-size: 1.2em;
  color: white;
}
.horas{
  text-align: center;
  background-color: #33997D;
  font-size: 1.2em;
  color: white;
}
.alarmas{
  text-align: center;
  background-color: #939933;
  font-size: 1.2em;
  color:  white;
}
.select_reca{/* */
  text-align: center;
  background-color: #440f37dc;
  font-size: 1.2em;
  color: white;
}
.sucia{/* */
  text-align: center;
  background-color: #385c48;
  font-size: 1.2em;
  color: white;
}
.paseo{
  text-align: center;
  background-color:#F1C665;
  font-size: 1.2em;
  color: white;
}
.restaurante{/* */
  text-align: center;
  background-color: #ce9b26;
  font-size: 1.2em;
  color: white;
}
.cobrar{
  text-align: center;
  background-color: #02CCCF;
  font-size: 1.2em;
  color: white;
}
.personas{
  text-align: center;
  background-color: #00622c;
  font-size: 1.2em;
  color: white;
}
.recibo{
  text-align: center;
  background-color: #2f27a1;
  font-size: 1.2em;
  color: white;
}
.caja_mostrar_totales{
  overflow-x: auto;
}
.caja_info{
  overflow: scroll;
}
.limpieza{/* */
  text-align: center;
  background-color:#28294e;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
}
.estados{
  background-color: #4d5255;
  color: #272727;
  padding: 20px;
  border-radius: 10px;
}
.estados:hover{
  background-color: #818e95;
  color: #272727;
  padding: 20px;
  border-radius: 10px;
}
/*.estado0{
  background-color: #9F9F9F;
  color: #272727;
  padding: 10px;
  border-radius: 10px;
}
.estado0:hover{
  background-color: #ACACAC;
  color: #272727;
  padding: 10px;
  border-radius: 10px;
}
.estado0{
  background-color: #186A3B;
  color: #82E0AA;
  padding: 10px;
  border-radius: 10px;
}
.estado0:hover{
  background-color: #28B463;
  color: #82E0AA;
  padding: 10px;
  border-radius: 10px;
}
*/
/*.estado0{
  background-color: #3d4249;
  color: #8a93a0;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado0:hover{
  background-color: #67707c;
  color: #8a93a0;
  /*color: white;*/
  /*padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado1{
  background-color:#7b241ca6;
  color: #D98880;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado1:hover{
  background-color:#c03a2baf;
  color: #D98880;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado2{
  background-color: #273f31;
  color: #7e9b8b;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado2:hover{
  background-color: #326949;
  color: #7e9b8b;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado3{
  background-color: #242646;
  color: #7072be;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado3:hover{
  background-color: #3b3d70;
  color: #7072be;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado4{
  background-color:#cfcf5bb0;
  color: #f6f6bfc7;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado4:hover{
  background-color:#cece55e5;
  color: #f6f6bfc7;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado5{
  background-color: #275669de;
  color: #72acc3de;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado5:hover{
  background-color: #1588b6c2;
  color: #72acc3de;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado6{
  background-color:#5f496edc;
  color: #b69ec5ea;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado6:hover{
  background-color:#9d6e9ee5;
  color: #b69ec5ea;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}*/
/*.estado{
  background-color: #B9770E;
  color: #F8C471;
  background-color: #186A3B;
  color: #82E0AA ;
  background-color:#C0392B;
  color: #D98880;
  #2d7573de;
  #28C9C6;
  #744f79dc;
  background-color:#50109D;
  background-color:#832161;
  background-color:#741D56;
  background-color:#00587A;
  background-color:#1E487A;
  background-color:#e6915d;
  background-color:#00587A;
  background-color:#045170;
}*/
.texto_doble{
  font-size: 2 em;
}
.margen_inf{
  margin-bottom:10px;
}
.margen_inf_pie{
  margin-bottom:20px;
  padding-left:16px;
  padding-right:45px;
}
.margen_sup{
  margin-top:10px;
}
.margen_sup_pedir{
  margin-top:18px;
}
#boton_panico{
  display:none;
}
#boton_racking{
  display:none;
}
.form_oculto{
  display:none;
}
.derecha{
  text-align: right;
}
.izquierda{
    text-align: left;
}
.info_cobradas{
  font-size: .7em;
}
.fuente2{
    font-size: 1.5em;
}
/*Mesas----------------------------------------------------------------------------------------------------------------------------*/
.titulo_mesa{/* estado */
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding-top: 8px;
  color: white;
}
.imagen_mesa{/* numero */
  width:100%;
  text-align: center;
  font-weight: bold;
  height:2.1em;
  vertical-align:middle;
  padding-top: 2px;
  color: white;
}
.tama_num_mesa{/* */
  font-size: 2.6em;
}
.capacidad_mesa{/* fecha */
  width: 100%;
  text-align: right;
  font-size: 1.1em;
  /*font-weight: bold;*/
  padding-top: 14px;
}
.icono_mesa{/* icono */
  width:100%;
  text-align: center;
  font-size: .9em;
  color: white;
  padding: 0em 0px 8px 0px;
}
.estado_mesa0{
  background-color: #115d2a;
  color: #5aa875;
  /*color: white;*/
  padding: .5em 10px 0px 10px;
  border-radius: 20px;
  width: 100px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100px !important;
}
.estado_mesa0:hover{
  background-color: #1ea049;
  color: #5aa875;
  /*color: white;*/
  padding: .5em 10px 0px 10px;
  border-radius: 20px;
  width: 100px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100px !important;
}
.estado_mesa1{
  background-color:#7b241ca6;
  color: #D98880;
  /*color: white;#7B241C;*/
  padding: .5em 10px 0px 10px;
  border-radius: 20px;
  width: 100px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100px !important;
}
.estado_mesa1:hover{
  background-color:rgba(212, 60, 43, 0.726);
  color: #D98880;
  /*color: white;*/
  padding: .5em 10px 0px 10px;
  border-radius: 20px;
  width: 100px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100px !important;
}
.espacio_mesa{/* */
  width: 155px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 130px !important;
  font-size:13px;
}
.btn-square-mesa-lg{
  width: 100px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100px !important;
  text-align: center;
  padding-top: 5px;
  font-size:12px;
  border-radius: 10px;
}
/*Checkin--------------------------------------------------------------------------------------------------------------------------*/
  .box
  {
	  padding:20px;
	  -webkit-box-shadow: 0px 0px 5px 0px rgba(209,202,209,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(209,202,209,1);
    box-shadow: 0px 0px 5px 0px rgba(209,202,209,1);
  }
  
  .box input, .box input::placeholder, .box select option, .box select
  {
	  font-size:12px;
	  font-weight:500;
	  color:#000;
  }
  
  .box .btn
  {
	  width:100%;
	  color:#fff;
  }
  
  .bg
  {
	  outline:0px;
	  color:#fff;
	  background:url(clender.png) no-repeat left ;
	  background-position: 7px 7px;
  }
  
  .bg::placeholder
  {
	  padding-left:15px;
  } 

  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-11 {
    width: 91.66666667%;
  }
  .col-xs-10 {
    width: 83.33333333%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-8 {
    width: 66.66666667%;
  }
  .col-xs-7 {
    width: 58.33333333%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-5 {
    width: 41.66666667%;
  }
  .col-xs-4 {
    width: 33.33333333%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-2 {
    width: 16.66666667%;
  }
  .col-xs-1 {
    width: 8.33333333%;
  }
  
  
