/*personalizacion de color tabla*/
.table-primary-encabezado {
  border: 1px solid #c6c4fc !important;
}

.mi-tabla {
  background-color: #f6f6f6;
  /* color de fondo de la tabla */
  color: #333;
  /* color del texto de la tabla */
}

/* El menú de navegación lateral */
.sidenav {
  height: 100%;
  /* 100% altura */
  width: 0%;
  /* 0 ancho - cambiar esto con JavaScript */
  position: fixed;
  /* Permanecer en su lugar */
  z-index: 1;
  /* Permanecer en la cima */
  top: 0;
  left: 0;
  background-color: #163172;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Coloque el contenido a 60 px de la parte superior */
  transition: 0.5s;
  /* 0.5 segundo efecto de transición para deslizar la sidenav */
}

/* Los enlaces del menú de navegación(links) */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #caf5ff;
  display: block;
  transition: 0.3s;
}

/* Cuando pasas el mouse sobre los enlaces de navegación, cambia su color */
.sidenav a:hover,
.offcanvas a:focus {
  color: #2e1709;
  /*background-color: #4882b4;*/
}

/* Coloque y aplique estilo al botón de cierre (esquina superior derecha) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#icono_sidenav {
  /* color del icono de sidenav*/
  fill: #3b83bd;
}

/* Estilo del contenido de la página: utilícelo si desea empujar el contenido de la página hacia la derecha cuando abre la navegación lateral */
#main {
  transition: margin-left 0.5s;
  padding: 10px;
  overflow: hidden;
  width: 100%;
}

/*body {/* Body info*/
/*overflow-x: hidden; 
 background-color: #14040B;
}*/

/* Agregue un color de fondo negro a la navegación superior */
/*.topnav {
  background-color: #242C34;
  overflow: hidden;
}*/

/* Aplicar estilo a los enlaces dentro de la barra de navegación */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Cambiar el color de los enlaces al pasar el mouse */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Agregue un color al enlace activo / actual*/
.topnav a.active {
  background-color: #4caf50;
  color: white;
}

/* Estilos fuera de sidebar - abajo */
.nav-link[data-toggle].collapsed:after {
  content: " ▾";
}

/* Estilos fuera de sidebar - arriba */
.nav-link[data-toggle]:not(.collapsed):after {
  content: " ▴";
}

/* Color para tabla de encabezado primary **/
.table-primary-encabezado {
  color: #3f51b5;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bolder;
  /*
  background: linear-gradient(
    180deg,
    #c3cafdee 0%,
    #ecf2ff 45%,
    rgb(166, 179, 248) 100%
  );
  background-color: #1f238a !important;*/
  background-color: #caebffdd !important;
  border-top-style: none;
}

/* Color para tabla de encabezado info **/
.table-info-encabezado {
  color: #fff;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bolder;
  background-color: #3e54ac;
  background: linear-gradient(180deg, #2d31ae 0%, #4e4ef0 50%, #1f238a 100%);
  border-top-style: none;
}

label {
  border-radius: 10px;
  /*
  background-color: #ffffff4c;*/
  box-shadow: 0 12px 35px 0 rgba(255, 235, 167, 0.15);
  font-weight: bold;
}

/*fondo amarrillo nav*/
.contenedor-sub a {
  padding-left: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
}

.contenedor-sub a:hover {
  color: #fff;
  background-color: #1f1560d3 !important;
}

.contenedor-sub a .uil {
  font-size: 22px;
}

/* Cambia el tamaño de la fuente a uno menor del estandar **/
.fuente_menor {
  font-size: 13px;
}

/* Cambia el tamaño de la fuente a uno menor del estandar **/
.fuente_menor_bolder {
  font-size: 13px;
  font-weight: bolder;
}

/* Color en las letras del boton */
.btn-primary {
  color: white;
  border: 1px solid #ecf2ff !important;
}

/* Contenedor con fondo blanco y bordes */
.blanco {
  
  backdrop-filter: blur(10px);
  padding: 25px 25px;
  /*
  background: url('../images/vista_back.jpg') !important;*/
  background-attachment: fixed;
  background-size:contain;
  color: #3f51b5 !important;
  /*
  background-color: #5b58f814 !important;
  background-color: #dde6ff !important;

  background-color: #fdf8e2 !important;*/
  background-color: rgba(254, 254, 254, 0.4) !important;
  background-image: repeating-linear-gradient(#ffffff -17px, rgb(255, 255, 255) 24px, steelblue 25px);
  margin-top: 60px !important;
  padding-top: 20px !important;
  border-radius: 5px;
  -webkit-animation-name: efecto;
  animation-name: efecto;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes efecto {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
  }

  100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
  }
}

@keyframes efecto {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(50%, 0, 0);
      transform: translate3d(50%, 0, 0);
  }

  100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
  }
}

.modal-dialog{
  min-width: 950px;
}

.blanco {
  position: relative;
  box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  max-height: 822px;
  
}
/*
.blanco:before, .blanco:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow:inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
  7px 7px 20px 0px rgba(0, 0, 0, 0.1),
  4px 4px 5px 0px rgba(0, 0, 0, 0.1) !important;
  border: 2px solid #b5b2b2;
}
.blanco:before {
  z-index: -1;

  background-size: cover;
    width: 100%;
    
    background-image: repeating-linear-gradient(white -17px, white 24px, steelblue 25px);
}

.blanco:after {
  transform: rotate(2deg);
  z-index: -2;
  background-color: #ffffff;
}
.blanco:after {
  transform: rotate(-2deg);
  z-index: -2;
  background-color: #ffffff;
}

.blanco:hover::after{
  transform: rotate(0deg);
  transition: 1s;
  width: 99.7%;
}

.blanco:hover::before{
  transform: rotate(0deg);
  transition: 1s;
  width: 99%;
}*/
.blanco{
  border-radius: 15px;
}



.table-responsive {
  margin-left: 10px !important;
  background-color: #f5f5f51f !important;
  max-height: 900px;
  height: 850px;
}

.table-responsive tr {/*
  border: 2px solid #a39fff !important;*/
  border: 2px solid #3f51b5 !important;
  
}

/*color check box*/
.form-check-input:checked {
  background-color: #4f3cfb;
  border: 1px solid #3f51b5;
  font-size: 20px;
  margin-right: 5px;
}


.input-group-text {
  background-color: #e9ecef;
  color: #3f51b5 !important;
}

input:hover {
  background-color: #e5e5e5 !important;
}

.titulo {
  color: #3f51b5 !important;
}

/*sombras 3d box shadow*/
td {
  color: #3f51b5;
  font-weight: bold;
}
/*
.btn {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.3),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1) !important;
  outline: none;
}
*/


button {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1) !important;
  outline: none;
}

/*informacion adicional con hover*/

.label {
  font-size: 0.55em;
  line-height: 2;
  opacity: 0;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  transform: translateY(0);
  color: #fff;
}

/* se especifica el contenedor donde se encuentra*/
.informacion:focus-visible .label,
.icon-btn:hover .label {
  opacity: 1;
  transform: translateY(10%);
}

input {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #fff;
  outline: none;
}

input:hover{
  box-shadow: inset 2px 2px 25px 0px rgba(255, 255, 255, 0.796), 7px 7px 20px 0px #c8d0e779, 4px 4px 5px 0px #c8d0e782 !important;

}

.d-flex{
  margin-bottom: 15px;
}

.color_black {
  box-shadow: none !important;
  outline: none;
}

select {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1) !important;
  outline: none;
}

.modal-header {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.2) !important;
  outline: none;
}

.modal-footer {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.8),
    7px 7px 20px 0px rgba(0, 0, 0, 0.3), 4px 4px 5px 0px rgba(0, 0, 0, 0.3) !important;
  outline: none;
}

.table-responsive td {
  /*
  background: linear-gradient(180deg, #c3cafd 0%, #ecf2ff 40%, rgb(179, 190, 252) 100%);*/
  
}

.table-responsive td:hover {
  background-color: #fff;
}

.text-dark {
  color: #3f51b5 !important;
}

.tableRack tr:nth-child(odd) {
  background-color: #f1f2f2c0 !important;
}

.tableRack tr:nth-child(even) {
  background-color: #d5d5d5c3 !important;
}

/* primera fila  */
tr:nth-child(odd) {
  background-color: #eef8ffc1;
  border-radius: 50px;
}

tr:nth-child(even) {
  background-color: #d9f0ffc1;
}

th {
  background-color: #d3d3d3b8;
}

tr:hover {
  background-color: #efefefe1;
  -webkit-box-shadow: 0 6px 6px -6px #0e1119;
  -moz-box-shadow: 0 6px 6px -6px #0e1119;
  box-shadow: 0 6px 6px -6px #0e1119;
}

.card-body{
  background-color: #a5c1ff57 !important;
  border: 2px solid;
}


/* Contenedor con fondo blanco y margen */
.blanco_margen {
  padding: 35px 35px;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 45px;
  text-align: initial;
    margin-left: 40px;
  background-color: #ecf2ff;
  border: 2px solid #3f51b5;
}


/* Margen de uno en escritura */
.margen-1 {
  margin-bottom: 40px;
}

/* Margen de dos en escritura */
.margen-2 {
  margin-bottom: 80px;
}

/* Color en los iconos svg */
.svg-color {
  fill: rgb(185, 185, 185);
}

/* Mostrar u ocultar los datos de un huesped en una reservacion */
.rapida {
  background-color: #222;
  color: white;
  font-size: 1.2em;
}

.mgrande {
  font-size: 1.2em;
}

.texto_entrada {
  color: white;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}

a.forumtitle {
  text-decoration: none;
}

a.forumtitle:hover {
  text-decoration: none !important;
}

a.topictitle {
  text-decoration: none;
}

a.topictitle:hover {
  text-decoration: none !important;
}

.color_black {
  color: black;
}

.fondo_rest {
  /*background-color: #E9E9E9;*/
  background-color: transparent !important;
  border-radius: 5px;
}

.alinear_centro {
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 25px 2px 3px 2px;
}

.alinear_izq {
  /*color: white;*/
  background-color: #e9e9e9;
  text-align: left;
  border-radius: 0px;
  padding: 0px 0px 0px 0px;
}

.alinear_der {
  /*color: white;*/
  background-color: #e9e9e9;
  text-align: right;
  border-radius: 0px;
  padding: 0px 0px 0px 0px;
}

.encabezado_gris {
  background-color: #e9e9e9;
  border-radius: 5px;
}

.espacio {
  /* */
  width: 155px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 110px !important;
  font-size: 14px;
  margin: 0.6em;
}

.btn-herramientas {
  /* */
  margin-bottom: 1em;
  font-size: 13px;
}

.modal-content {/*
  backdrop-filter: blur(15px);*/
  /* background-image: repeating-linear-gradient(white -17px, white 24px, rgba(180, 79, 70, 0.771) 25px);
  background-color: #ede4ff6b;*/
  background-color: #fff;
  color: #2d31ae;
}

hr{
  display: none;
}



.titulo_hab {
  /* estado */
  width: 100%;
  text-align: left;
  font-weight: bold;
  padding-top: 8px;
  color: white;
}

.imagen_hab {
  /* numero */
  width: 100%;
  text-align: right;
  height: 2.1em;
  vertical-align: middle;
  padding-right: 15px;
  color: white;
}

.tama_num_hab {
  /* */
  font-size: 1.8em;
}

.pie {
  font-size: 0.7em;
}

.card {
  font-size: 0.7em;
  max-width: 100% !important;
  max-height: 100% !important;
  padding: 0em 0px 0px 0px;
}

.fondo_dark {
  background-color: #111;
  color: white;
}

.fondo_gris {
  background-color: #3d4249;
  color: white;
}

.tiempo_hab {
  /* fecha */
  width: 100%;
  text-align: left;
  font-size: 0.9em;
  /*font-weight: bold;*/
}
.modo-nocturno {
  background-image: linear-gradient(356deg, #ffffff, #ecf2ff);
  background: 
  radial-gradient(18% 28% at 24% 50%,#3f4587 7%,#073AFF00 100%),
  radial-gradient(18% 28% at 18% 71%,#5f65a7 6%,#073AFF00 100%),
  radial-gradient(70% 53% at 36% 76%,#434a95 0,#073AFF00 100%),
  radial-gradient(42% 53% at 15% 94%,#373d74 7%,#073AFF00 100%),
  radial-gradient(42% 53% at 34% 72%,#282e70 7%,#073AFF00 100%),
  radial-gradient(18% 28% at 35% 87%,#3a3f7a 7%,#073AFF00 100%),
  radial-gradient(31% 43% at 7% 98%,#32376e 24%,#073AFF00 100%),
  radial-gradient(21% 37% at 72% 23%,#393f89 24%,#073AFF00 100%),
  radial-gradient(35% 56% at 91% 74%,#474d8d 9%,#073AFF00 100%),
  radial-gradient(74% 86% at 67% 38%,#272d60 24%,#073AFF00 100%),
  linear-gradient(125deg,#2f3262 1%,#353b6f 100%);
  background-color: #252954;
}

/*.sub_estado_sin{
  background-color:rgb(109, 38, 38, 1);
  padding: 0em 0px 0px 0px;
  border-radius: 10px;
}
.sub_estado_sucia{
  background-color:#095314a6;
  padding: 0em 0px 0px 0px;
  border-radius: 10px;
}
.sub_estado_limpieza{
  background-color:#2214e4a6;
  padding: 0em 0px 0px 0px;
  border-radius: 10px;
}*/
.icono_hab {
  /* icono */
  width: 100%;
  text-align: right;
  font-size: 0.9em;
  color: white;
  padding: 0em 0px 0px 0px;
}

#icono_r {
  /* icono medidas*/
  width: 24px;
  height: 16px;
}

#icono_c {
  /* icono medidas*/
  width: 18px;
  height: 18px;
}

.asignar_reca {
  text-align: left;
  background-color: #c0c0c0;
  font-size: 1.2em;
  color: white;
}

.asignar_reca:hover {
  background-color: #b2b2b2;
  color: white;
}

.Alin-center {
  text-align: center;
}

.boton-rest {
  margin-top: 0.5em;
  padding-left: 0.2em;
}

.boton_restaurante {
  margin-top: 0.5em;
  font-size: 2em;
  line-height: normal;
}

.altura-rest {
  /* */
  height: 45em;
  overflow-x: scroll;
}

.altura-rest_categorias {
  /* */
  height: 19.6em;
  overflow-y: scroll;
}

.altura-rest_productos {
  /* */
  height: 42.6em;
  overflow-y: scroll;
}

.altura-rest_pedido {
  /* */
  height: 60.3em;
  overflow-y: scroll;
}

.altura_comanda {
  height: 62.2em;
  overflow-x: scroll;
}

.linea_restaurante {
  font-size: 1.8em;
  line-height: normal;
  border-bottom: 0.3em solid #2d3139;
}

.btn-square-md-rest {
  /* */
  background-color: #71db94;
  width: 80px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 80px !important;
  text-align: center;
  padding: 0px;
  font-size: 12px;
}

.btn-square-md {
  /* */
  width: 80px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 80px !important;
  text-align: center;
  padding: 0px;
  font-size: 12px;
}

.btn-square-lg {
  /* */
  width: 150px !important;
  max-width: 113% !important;
  max-height: 100% !important;
  height: 80px !important;
  text-align: center !important;
  padding-top: -12px;
  font-size: 1rem !important;
  border-radius: 2px;
}

.btn-square-lg-doble {
  /* */
  width: 100px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100px !important;
  text-align: center;
  padding-top: 2px;
  font-size: 12px;
  border-radius: 10px;
}

.btn-square-xl {
  /* */
  width: 120px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 120px !important;
  text-align: center;
  padding-top: 0px;
  font-size: 12px;
}

.btn-rectangle-sm {
  /* */
  width: 100px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 50px !important;
  text-align: center;
  padding: 0px;
  font-size: 13px;
}

.altura {
  text-align: center;
  font-size: 1, 3em;
  border: black 5px solid;
}

.alin_center_white {
  text-align: center;
  color: white;
  font-size: 1.8em;
}

.asignar_reca_activa {
  text-align: center;
  background-color: green;
  font-size: 1.2em;
  color: white;
}

.asignar_reca_activa:hover {
  text-align: center;
  background-color: rgb(30, 172, 30);
  font-size: 1.2em;
  color: white;
}

.infor_asig_reca {
  font-size: 0.8em;
}

.bloqueo {
  text-align: center;
  background-color: #b5d176;
  font-size: 1.2em;
  color: white;
}

.mantenimiento {
  text-align: center;
  background-color: #8d8d31ef;
  font-size: 1.2em;
  color: white;
}

.supervision {
  text-align: center;
  background-color: rgba(27, 79, 109, 0.849);
  font-size: 1.2em;
  color: white;
}

.cancelada {
  text-align: center;
  background-color: #5c456bea;
  font-size: 1.2em;
  color: white;
}

.lavar {
  text-align: center;
  background-color: #3c91e6;
  font-size: 1.2em;
  color: white;
}

.detallar {
  text-align: center;
  background-color: #d0e369;
  font-size: 1.2em;
  color: white;
}

.edo_cuenta {
  /* */
  text-align: center;
  background-color: #6b1f18e8;
  font-size: 1.2em;
  color: white;
}

.cortina {
  text-align: center;
  background-color: #ff30c0;
  font-size: 1.2em;
  color: white;
}

.hab_cambiar {
  /*  */
  text-align: center;
  background-color: green;
  background: linear-gradient(180deg, #5b5fd6 0%, #9191f9 50%, #393ca0 100%);
  font-size: 1.2em;
  color: white;
}

.limpiar {
  text-align: center;
  background-color: #a98743;
  font-size: 1.2em;
  color: white;
}

.mostrarresta {
  overflow: auto;
}

.asignar {
  text-align: center;
  background-color: #28c9c6;
  font-size: 1.2em;
  color: white;
}

.placas {
  text-align: center;
  background-color: #02cccf;
  font-size: 1.2em;
  color: white;
}

.desocupar {
  /* */
  /*#5c646e;*/
  text-align: center;
  background-color: #9f9f9f;
  background: linear-gradient(145deg, #9f9f9f 0%, #ecf2ff 40%, #848181 100%);
  /*background-color: #242C34*/
  font-size: 1.2em;
  color: #333;
}

.terminar {
  /*#1E487A; #337C99; */
  text-align: center;
  background-color: #77a2ad;
  background: linear-gradient(145deg, #77a2ad 0%, #c4f4ff 50%, #548793 100%);
  /*background-color: #242C34*/
  font-size: 1.2em;
  color: #0a414f;
}

.ocupada {
  /* */
  text-align: center;
  background-color: #6b1f18e8;
  font-size: 1.2em;
  color: white;
}

.cambiar_usuario {
  text-align: center;
  background-color: #776a63;
  font-size: 1.2em;
  color: white;
}

.reporte {
  text-align: center;
  background-color: #d33628;
  font-size: 1.2em;
  color: #eb958d;
}

.personas {
  text-align: center;
  background-color: #337c99;
  font-size: 1.2em;
  color: white;
}

.horas {
  text-align: center;
  background-color: #33997d;
  font-size: 1.2em;
  color: white;
}

.alarmas {
  text-align: center;
  background-color: #939933;
  font-size: 1.2em;
  color: white;
}

.select_reca {
  /* */
  text-align: center;
  background-color: #440f37dc;
  font-size: 1.2em;
  color: white;
}

.sucia {
  /* */
  text-align: center;
  background-color: #385c48;
  font-size: 1.2em;
  color: white;
}

.paseo {
  text-align: center;
  background-color: #f1c665;
  font-size: 1.2em;
  color: white;
}

.restaurante {
  /* */
  text-align: center;
  background-color: #ce9b26;
  font-size: 1.2em;
  color: white;
}

.cobrar {
  text-align: center;
  background-color: #02cccf;
  font-size: 1.2em;
  color: white;
}

.personas {
  text-align: center;
  background-color: #00622c;
  font-size: 1.2em;
  color: white;
}


.recibo {
  text-align: center;
  background-color: #2f27a1;
  font-size: 1.2em;
  color: white;
}

.caja_mostrar_totales {
  overflow-x: auto;
  background-color: transparent;
}

.caja_info {
  overflow: scroll;
}

.limpieza {
  /* */
  text-align: center;
  background-color: #28294e;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
}

.estados {
  background-color: #4d5255;
  color: #272727;
  padding: 20px;
  border-radius: 10px;
}

.estados:hover {
  background-color: #818e95;
  color: #272727;
  padding: 20px;
  border-radius: 10px;
}

/*.estado0{
  background-color: #9F9F9F;
  color: #272727;
  padding: 10px;
  border-radius: 10px;
}
.estado0:hover{
  background-color: #ACACAC;
  color: #272727;
  padding: 10px;
  border-radius: 10px;
}
.estado0{
  background-color: #186A3B;
  color: #82E0AA;
  padding: 10px;
  border-radius: 10px;
}
.estado0:hover{
  background-color: #28B463;
  color: #82E0AA;
  padding: 10px;
  border-radius: 10px;
}
*/
/*.estado0{
  background-color: #3d4249;
  color: #8a93a0;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado0:hover{
  background-color: #67707c;
  color: #8a93a0;
  /*color: white;*/
/*padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado1{
  background-color:#7b241ca6;
  color: #D98880;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado1:hover{
  background-color:#c03a2baf;
  color: #D98880;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado2{
  background-color: #273f31;
  color: #7e9b8b;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado2:hover{
  background-color: #326949;
  color: #7e9b8b;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado3{
  background-color: #242646;
  color: #7072be;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado3:hover{
  background-color: #3b3d70;
  color: #7072be;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado4{
  background-color:#cfcf5bb0;
  color: #f6f6bfc7;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado4:hover{
  background-color:#cece55e5;
  color: #f6f6bfc7;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado5{
  background-color: #275669de;
  color: #72acc3de;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado5:hover{
  background-color: #1588b6c2;
  color: #72acc3de;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado6{
  background-color:#5f496edc;
  color: #b69ec5ea;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}
.estado6:hover{
  background-color:#9d6e9ee5;
  color: #b69ec5ea;
  padding: 0em 0px 0px 10px;
  border-radius: 10px;
}*/
/*.estado{
  background-color: #B9770E;
  color: #F8C471;
  background-color: #186A3B;
  color: #82E0AA ;
  background-color:#C0392B;
  color: #D98880;
  #2d7573de;
  #28C9C6;
  #744f79dc;
  background-color:#50109D;
  background-color:#832161;
  background-color:#741D56;
  background-color:#00587A;
  background-color:#1E487A;
  background-color:#e6915d;
  background-color:#00587A;
  background-color:#045170;
}*/
.texto_doble {
  font-size: 2 em;
}

.margen_inf {
  margin-bottom: 10px;
}

.margen_inf_pie {
  margin-bottom: 20px;
  padding-left: 16px;
  padding-right: 45px;
}

.margen_sup {
  margin-top: 10px;
}

.margen_sup_pedir {
  margin-top: 18px;
}

#boton_panico {
  display: none;
}

#boton_racking {
  display: none;
}

.form_oculto {
  display: none;
}

.derecha {
  text-align: right;
}

.izquierda {
  text-align: left;
}

.info_cobradas {
  font-size: 0.7em;
}

.fuente2 {
  font-size: 1.5em;
}

/*Mesas----------------------------------------------------------------------------------------------------------------------------*/
.titulo_mesa {
  /* estado */
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding-top: 8px;
  color: white;
}

.imagen_mesa {
  /* numero */
  width: 100%;
  text-align: center;
  font-weight: bold;
  height: 2.1em;
  vertical-align: middle;
  padding-top: 2px;
  color: white;
}

.tama_num_mesa {
  /* */
  font-size: 2.6em;
}

.capacidad_mesa {
  /* fecha */
  width: 100%;
  text-align: right;
  font-size: 1.1em;
  /*font-weight: bold;*/
  padding-top: 14px;
}

.icono_mesa {
  /* icono */
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  color: white;
  padding: 0em 0px 8px 0px;
}

.estado_mesa0 {
  background-color: #115d2a;
  color: #5aa875;
  /*color: white;*/
  padding: 0.5em 10px 0px 10px;
  border-radius: 20px;
  width: 100px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100px !important;
}

.estado_mesa0:hover {
  background-color: #1ea049;
  color: #5aa875;
  /*color: white;*/
  padding: 0.5em 10px 0px 10px;
  border-radius: 20px;
  width: 100px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100px !important;
}

.estado_mesa1 {
  background-color: #7b241ca6;
  color: #d98880;
  /*color: white;#7B241C;*/
  padding: 0.5em 10px 0px 10px;
  border-radius: 20px;
  width: 100px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100px !important;
}

.estado_mesa1:hover {
  background-color: rgba(212, 60, 43, 0.726);
  color: #d98880;
  /*color: white;*/
  padding: 0.5em 10px 0px 10px;
  border-radius: 20px;
  width: 100px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100px !important;
}

.espacio_mesa {
  /* */
  width: 155px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 130px !important;
  font-size: 13px;
}

.btn-square-mesa-lg {
  width: 100px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100px !important;
  text-align: center;
  padding-top: 5px;
  font-size: 12px;
  border-radius: 10px;
}

/*Checkin--------------------------------------------------------------------------------------------------------------------------*/
.box {
  padding: 20px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(209, 202, 209, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(209, 202, 209, 1);
  box-shadow: 0px 0px 5px 0px rgba(209, 202, 209, 1);
}

.box input,
.box input::placeholder,
.box select option,
.box select {
  font-size: 12px;
  font-weight: 500;
  color: #000;
}

.box .btn {
  width: 100%;
  color: #fff;
}

.bg {
  outline: 0px;
  color: #fff;
  background: url(clender.png) no-repeat left;
  background-position: 7px 7px;
}

.bg::placeholder {
  padding-left: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  padding-right: 15px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #3f51b5 !important;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
  padding-left: 15px;
  margin-bottom: 20px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 20%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}
