@import "./colors.css";

.contenedor__graficas{
    margin: auto;
    margin-top: 1vh;
    width: 100%;
    max-width: 1850px;
    height: auto;
    /* background-color: white;
    box-shadow: var(--sombra); */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: 90vh;
    animation: fadeInScale 0.1s ease-in-out forwards;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.main_info{
    width: 97%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
}
.secundariInfo{
    width: 97%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}
.contenedor__graficas-main{
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 374px;
    padding-top: 1rem;
}
.title{
    font-size: 2.5rem;
    width: 95%;
    text-align: left;
    color: #1d1d1f;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0em;
}
.subtitle{
    font-size: 19px;
    line-height: 1.210526;
    width: 95%;
    text-align: left;
    color: var(--titulos);
    font-weight: 600;
    letter-spacing: .012em;
    color: #027FFF;
}
.info {
    margin-bottom: 5px;
    font-size: 1.0rem;
    width: 95%;
    text-align: left;
    color: var(--parrafos);
    font-weight: 400;
}
.contenedor__graficas-secundario{
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    min-width: 457px;
}
.graficas__card{
    height: 300px;
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border-radius: 30px;
    /* flex: 1; */
}

.card__encabezado{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--fondoCeldas);
}
.card__encabezado-titulo{
    font-size: 16px;
    color: var(--titulos);
    font-weight: 600;
    margin: 0;
    text-align: left;
}
.card__encabezado-subtitulo{
    font-size: 12px;
    color: var(--parrafos);
    font-weight: 500;
    margin: 0;
    text-align: left;
}
.card__content{
    width: 98%;
    height: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.adiospapu{
    background-color: black;
}

@media (max-width: 414px){
    .graficas__card{
        min-width: 90%;
        width: 95%;
    }
    .contenedor__graficas-secundario{
        min-width: 90%;
        width: 95%;
    }
    .contenedor__graficas-main{
        min-width: 90%;
        width: 95%;
    }
}