@import "./colors.css";

.contenedor__graficas{
    margin: auto;
    margin-top: 1vh;
    width: 100%;
    max-width: 1850px;
    height: auto;
    background-color: white;
    box-shadow: var(--sombra);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    max-height: 90vh;
}
.main_info{
    width: 97%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
}
.secundariInfo{
    width: 97%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}
.contenedor__graficas-main{
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 374px;
    padding-top: 1rem;
}
.title{
    font-size: 2.5rem;
    width: 95%;
    text-align: left;
    color: var(--titulos);
    font-weight: 700;
}
.subtitle{
    font-size: 1.3rem;
    width: 95%;
    text-align: left;
    color: var(--titulos);
    font-weight: 500;
}
.info {
    font-size: 1.0rem;
    width: 95%;
    text-align: left;
    color: var(--parrafos);
    font-weight: 400;
}
.contenedor__graficas-secundario{
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    min-width: 457px;
}
.graficas__card{
    height: 300px;
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    box-shadow: var(--sombra);
    border-radius: 15px;
    border: 1px solid var(--fondoCeldas);
    transition: all 0.4s ease-in-out;
}
.graficas__card:hover{
    box-shadow: 0px 0px 15px 1px #0185cc42;
}

.card__encabezado{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--fondoCeldas);
}
.card__encabezado-titulo{
    font-size: 16px;
    color: var(--titulos);
    font-weight: 600;
    margin: 0;
    text-align: left;
}
.card__encabezado-subtitulo{
    font-size: 12px;
    color: var(--parrafos);
    font-weight: 500;
    margin: 0;
    text-align: left;
}
.card__content{
    width: 98%;
    height: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.adiospapu{
    background-color: black;
}

@media (max-width: 414px){
    .graficas__card{
        min-width: 90%;
        width: 95%;
    }
    .contenedor__graficas-secundario{
        min-width: 90%;
        width: 95%;
    }
    .contenedor__graficas-main{
        min-width: 90%;
        width: 95%;
    }
}