.sub_estado_sin{
 background-color:rgb(89, 13, 13, 1);
 padding: 0em 0px 0px 0px;
 border-radius: 10px;
}
.sub_estado_sucia{
 background-color:#186a3b;
 padding: 0em 0px 0px 0px;
 border-radius: 10px;
}
.sub_estado_limpieza{
 background-color:#8197d9;
 padding: 0em 0px 0px 0px;
 border-radius: 10px;
}
